@mixin b($point) {
  @if $point == desktop {
    @media (max-width: 1366px) {
      @content;
    }
  } @else if $point == tablet {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $point == mobile {
    @media (max-width: 767px) {
      @content;
    }
  } @else {
    @media (max-width: ($point + "px")) {
      @content;
    }
  }
}

@mixin bmin($point) {
  @if $point == desktop {
    @media (min-width: 1366px) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $point == mobile {
    @media (min-width: 767px) {
      @content;
    }
  } @else {
    @media (min-width: ($point + "px")) {
      @content;
    }
  }
}

@mixin trs {
  transition: all 0.3s;
}

@mixin flex_c {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin wrap()  {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  @include b(tablet){
    padding-left: 30px;
    padding-right: 30px;
  }
  @include b(desktop) {
    padding-left: 80px;
    padding-right: 80px;
    max-width: 1900px;
  }
}

@mixin apple_google_store {
  .image_qrcode {
    &__wrapper {
      display: flex;
      width: 100%;
      position: relative;
      padding-top: 20px;
      @include b(tablet) {
        flex-direction: column;
      }
      @include b(mobile) {
        order: -1;
      }
    }
    &__item {
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
      @include b(mobile) {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
    &__title {
      max-width: 443px;
      font-weight: 500;
      line-height: 21px;
      padding-top: 17px;
      margin-bottom: 20px;
      position: relative;
      color: #30394a;
      line-height: 18px;
      @include b(mobile) {
        order: -1;
        max-width: 100%;
        text-align: center;
      }
      @include b(500) {
        padding-top: 0;
        margin-bottom: 42px;
      }
    }
  }

  .download {
    width: 192px;
    height: 48px;
    background-color: #000;
    border-radius: 4px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    img {
      object-fit: contain;
      max-width: 147px;
      max-height: 38px;
    }
    @include b(tablet) {
      width: 290px;
      height: 48px;
      &:last-child {
        width: 290px;
      }
      &:first-child {
        margin-bottom: 16px;
        margin-right: 0;
      }
    }
  }
  .download_googlePlay {
    width: 199px;
  }
}

@mixin container {
  max-width: 1520px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    @include b(mobile) {
        padding: 0 45px; 
    }
    @include b(500) {
        padding: 0 15px;
    }
}
