@import "../helpers/mixins"
@import "../helpers/vars"

.breadcrumbs
    display: flex
    padding: 35px 0 39px 0
    flex-wrap: wrap
    +b(tablet)
        padding-bottom: 20px
    &__item
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        a
            color: #CC2D78
            display: flex
            align-items: center
            +b(mobile)
                font-size: 12px
            &::after
                content: ''
                display: block
                width: 5px
                height: 5px
                border-radius: 50%
                background-color: #CC2D78
                margin: 0 16px 0 9px
    span
        display: flex
        align-items: center
        +b(mobile)
            font-size: 12px 
