@import "../helpers/mixins"
@import "../helpers/vars"

.experts
    display: flex
    flex-direction: column
    font-family: "Montserrat", sans-serif

    +b(tablet)
        margin-top: 80px


    &.blog-post-page-autor
        +b(mobile)
            margin-top: 23px
        .container
            max-width: 1215px
        .experts__wrap
            display: flex
            justify-content: flex-start
        .expert
            max-width: 100%
            justify-content: flex-start
            align-items: flex-start
            position: relative
            padding-left: 150px
            +b(mobile)
                padding-left: 52px
        .expert__img
            position: absolute
            top: 0
            left: 0
            width: 120px
            height: 120px
            +b(mobile)
                width: 40px
                height: 40px
        h3
            text-align: start

            +b(mobile)
                font-size: 16px
        span
            text-align: start
            +b(tablet)
                font-size: 16px
            +b(mobile)
                margin-bottom: 16px
                font-size: 12px
        .expert__linkno-route-link
            display: none

    .container
        width: 100%

    &__wrap
        display: grid
        grid-template-columns: repeat(3,1fr)
        grid-auto-rows: max-content
        grid-column-gap: 82px
        grid-row-gap: 100px
        justify-content: center


        +b(tablet)
            grid-template-columns: repeat(2,1fr)
            grid-column-gap: 32px
            grid-row-gap: 32px

        +b(mobile)
            grid-template-columns: repeat(1,1fr)
            grid-row-gap: 78px
            grid-column-gap: 0

.expert
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    width: 100%
    max-width: 400px
    position: relative

    +b(mobile)
        max-width: 100%

    &__img
        width: 88px
        height: 88px
        border-radius: 50%
        overflow: hidden
        position: relative
        img
            object-fit: cover

        +b(tablet)
            margin-bottom: 12px

    h3
        font-weight: bold
        font-size: 40px
        line-height: 1.2
        color: #30394A
        text-align: center
        margin-bottom: 2px

        +b(tablet)
            font-size: 28px

        +b(desktop-l)
            font-size: 32px
            line-height: 39px
            margin-bottom: 4px

    span
        display: block
        font-weight: normal
        font-size: 16px
        line-height: 1.75
        color: #6D788E
        text-align: center
        margin-bottom: 24px
        overflow: hidden

        +b(tablet)
            font-size: 14px
            line-height: 2

    &__link
        display: block
        position: relative
        padding-right: 30px
        font-weight: 500
        font-size: 18px
        line-height: 1.22
        color: #5A308D

        &::after
            content: ""
            display: block
            position: absolute
            height: 16px
            width: 22px
            right: 0
            top: 50%
            transform: translate(0%, -50%)
            background-image: url(/assets/img/svg/Arrow.svg)
            background-repeat: no-repeat
            transition: all .35s

        &:hover
            &::after
                right: -5px
