@import "../helpers/mixins"
@import "../helpers/vars"

.expert-blog
    display: flex
    flex-direction: column
    font-family: "Montserrat", sans-serif

    &.blog-recommended
        .container
            max-width: 1215px
        .expert-blog__title
            font-size: 40px
            font-weight: 700
            +b(tablet)
                font-size: 23px
        .expert-article__text
            font-size: 18px
            +b(tablet)
                font-size: 16px


    &__wrap
        display: grid
        grid-template-columns: repeat(3,1fr)
        grid-auto-rows: -webkit-max-content
        grid-auto-rows: max-content
        grid-column-gap: 33px
        grid-row-gap: 60px
        justify-content: center
        +b(tablet)
            grid-template-columns: repeat(2,1fr)
            grid-column-gap: 16px
            grid-row-gap: 64px

        +b(mobile)
            grid-template-columns: repeat(1,1fr)
            grid-row-gap: 16px
            grid-column-gap: 0

    &__title
        font-weight: 600
        font-size: 24px
        line-height: 29px
        color: #353535
        margin-bottom: 24px
        &:empty
            margin-bottom: 0
    
    &__empty
        font-size: 16px
        font-weight: 500

.expert-blog .expert-article
    display: block
    font-weight: normal
    font-size: 16px
    line-height: 28px
    color: #5C5C5C

    &__img
        > div
            width: 100%
            height: 272px
            margin-bottom: 20px

            +b(tablet)
            height: 228px
            margin-bottom: 24px
            
            +b(mobile)
                height: 206px

        img
            object-fit: cover

    &__link
        display: block
        font-weight: bold
        font-size: 24px
        color: #353535
        margin-bottom: 16px
        +b(tablet)
            font-size: 18px
            margin-bottom: 20px

    time
        display: block
        font-weight: 500
        font-size: 18px
        color: #30394A
        margin-bottom: 12px

    &__text
        height: 161px
        overflow: hidden
        position: relative
        color: #6D788E
        &:after
            content: ''
            text-align: right
            position: absolute
            bottom: 0
            right: 0
            width: 70%
            height: 1.2em
            background: linear-gradient(to right, rgba(255, 255, 255, 0), white 100%)
            pointer-events: none
        +b(tablet)
            height: 331px
            font-size: 16px
        +b(mobile)
            height: 290px

        

.expert-article__info
    display: flex
    align-items: center
    margin-bottom: 15px

    +b(tablet)
        display: flex

    img
        width: 27px
        height: 27px
        border-radius: 100px
        object-fit: cover

    span
        font-weight: 400
        font-size: 18px
        line-height: 1.55
        text-transform: uppercase
        color: #6D788E
        margin-left: 12px

.expert-blog__social-share
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    padding-top: 68px
    +b(tablet)
        padding-top: 80px
    +b(mobile)
        padding-top: 40px

    h6
        font-weight: normal
        font-size: 18px
        line-height: 22px
        color: #353535
        margin-bottom: 16px

    .menu_social-share div:last-child a
        margin-right: 0

