@import "../helpers/mixins"
@import "../helpers/vars"

.category_changer_blog
    margin-bottom: 30px
    +b(mobile)
        margin-bottom: 24px
    &_link
        color: #6D788E
        padding-bottom: 20px
        margin: 0px 50px -1px 0px
        cursor: pointer
        &:last-child
            margin-right: 0
        +b(mobile)
            margin-right: 30px
        &.active
            color: #30394A
            font-weight: 500
            border-bottom: 3px solid #5A308D
    .scroll_horizontal
        display: flex
        border-bottom: 1px solid #D1CDD7
        &:empty
            border: none

