@import "../helpers/mixins"
@import "../helpers/vars"

.expert_article
    &__tags
        +container
        max-width: 1022px
        display: flex
        flex-wrap: wrap
        margin-bottom: 32px

        +b(tablet)
            margin-bottom: 24px

        +b(mobile)
            margin-bottom: 16px

        li
            line-height: 1.14
            font-size: 14px
            font-weight: 500
            text-transform: uppercase
            color: #fff

            background-color: #5A308D
            border-radius: 40px
            padding: 8px 16px

            margin-right: 21px

            +b(tablet)
                margin-right: 12px

            +b(mobile)
                font-size: 12px
                margin-bottom: 8px
                margin-right: 8px

            &:last-child
                margin-right: 0

    &__img
        @include container
        max-width: 1022px
        margin-bottom: 32px

        img
            object-fit: cover
