@import "../helpers/mixins"
@import "../helpers/vars"

.pagination
    padding: 50px 0 0 0
    display: flex
    justify-content: flex-end
    +b(tablet)
        padding: 40px 0 0 0
    +b(mobile)
        padding: 16px 0 0 0
        justify-content: center
    li
        margin-right: 12px
        cursor: pointer
        &:last-child
            margin-right: 0
    &-item
        border: 1px solid #5A308D
        border-radius: 50%
        color: #5A308D
        font-size: 14px
        width: 36px
        height: 36px
        display: flex
        justify-content: center
        align-items: center
        transition: all .2s
        &:hover
            background-color: #5A308D
            color: #fff
        &.active
            background-color: #5A308D
            color: #fff
        &.prev , &.next
            &:hover
                    &::after
                        border-color: #fff
            &::after
                content: ''
                border-bottom: 2px solid #5A308D
                border-right: 2px solid #5A308D
                width: 10px
                height: 10px
                transform: rotate(135deg)
        &.next
            &::after
                transform: rotate(-45deg)
        &.disabled
            border: 1px solid #D0AFF9
            cursor: default
            &:hover
                &::after
                   border-color: #D0AFF9
                background-color: #fff
            &.prev , &.next
                &::after
                    border-color: #D0AFF9
