@import "../helpers/mixins"
@import "../helpers/vars"

.expert__social-networks
    display: flex
    justify-content: left
    margin-bottom: 24px

    a
        display: block
        font-size: 0
        width: 22px
        height: 22px
        margin-right: 32px
        background-image: url(/assets/img/svg/youtube-gray.svg)
        background-repeat: no-repeat
        background-position: center
        background-size: contain
        transition: background .3s ease
        &:last-child
            margin-right: 0

    .youtube
        background-image: url(/assets/img/svg/youtube-gray.svg)
        &:hover
            background-image: url(/assets/img/svg/youtube-blue.svg)

    .instagram
        background-image: url(/assets/img/svg/instagram-gray.svg)
        &:hover
            background-image: url(/assets/img/svg/instagram-blue.svg)

    .facebook
        background-image: url(/assets/img/svg/facebook.svg)
        &:hover
            background-image: url(/assets/img/svg/facebook-blue.svg)

    .telegram
        background-image: url(/assets/img/svg/telegram-black.svg)
        &:hover
            background-image: url(/assets/img/svg/telegram-blue.svg)

    .viber
        background-image: url(/assets/img/svg/viber-black.svg)
        &:hover
            background-image: url(/assets/img/svg/viber-blue.svg)
