@import "../helpers/mixins"
@import "../helpers/vars"

.expert-info
    display: flex
    flex-direction: column

    +b(tablet)
        padding-top: 50px
    +b(mobile)
        padding-top: 24px

    &__inner
        display: flex
        font-family: "Montserrat", sans-serif

    &__wrap
        display: flex
        flex-direction: column
        padding-bottom: 64px
        +b(tablet)
            padding-bottom: 56px
        +b(mobile)
            padding-bottom: 40px

        .expert__social-networks
            margin-bottom: 18px

    &__img
        margin-right: 30px
        max-width: 120px
        height: 120px
        overflow: hidden
        border-radius: 50%

        > div
            position: relative
            padding-bottom: 24.95%

        img
            object-fit: cover

        +b(mobile)
            margin-right: 12px
            max-width: 40px
            height: 40px
            border-radius: 180px

    &__inner span
        font-weight: 700
        font-size: 40px
        line-height: 1.2
        color: #353535
        margin-bottom: 8px

        +b(mobile)
            font-weight: bold
            font-size: 16px
            margin-bottom: 0

    &__subtitle
        font-size: 16px
        line-height: 1.75
        color: #6D788E
        margin-bottom: 20px
        overflow: hidden

        +b(mobile)
            font-size: 12px

    button
        position: relative
        background-color: transparent
        border: 0px
        font-weight: normal
        font-size: 16px
        line-height: 1.75
        text-transform: uppercase
        text-align: left
        color: #6D788E
        max-width: fit-content
        padding: 0 18px 0 0

        &::before
            content: ''
            position: absolute
            display: block
            width: 7px
            height: 7px
            border: 1px solid #5C5C5C
            border-top: none
            border-right: none
            right: 0
            top: 35%
            transform: rotate(-45deg) translate(0%, -50%)
            transition: all .3s ease
            cursor: pointer

    button.active::before
        transform: rotate(135deg) translate(0%, -50%)

    &__tab p
        height: 0
        font-size: 0
        padding: 0
        opacity: 0
        transition: all .3s ease

    &__tab.active p
        height: auto
        font-size: 12px
        line-height: 16px
        padding: 10px 0
        opacity: 1
        max-height: 143px
        overflow: hidden

        +b(tablet)
            font-size: 14px
            line-height: 24px
            max-height: 149px
