.accordion,.accordion__wrapper {
    a {
        color: #E976AC;
        &:hover {
            text-decoration: underline;
        }
    }
    .--containerFaq {
        max-width: 1477px;
    }
    padding-top: 32px;
    .section-title {
        text-align: start;
        max-width: 1464px;
        padding: 0 0 32px 15px;
        margin: 0 auto;
    }
    .accordion {
        &__item{
            position: relative;
            padding: 24px 0;
            border-bottom: 1px solid #F3F3F3;
            display: flex;
            flex-direction: column;
            cursor: pointer;
            &:after {
                content: '';
                display: block;
                position: absolute;
                right: 0;
                z-index: -1;
                width: 9px;
                height: 9px;
                border-bottom: 2px solid #CC2D78;
                border-left: 2px solid #CC2D78;
                transform: rotate(-45deg);
                transition: all .2s;
            }
            &:first-child {
                border-top: 1px solid #F3F3F3;
            }
            &.active {
                &::after {
                    transform: rotate(135deg);
                }
            }
        }
        &__item-heading{
            font-size: 20px;
            line-height: 23px;
            font-weight: 500;
            padding-right: 20px;
            &.active {
            color: #E976AC;
            }
        }
        &__item-content{
            padding-top: 30px;
            display: none;
            line-height: 20px;
            &.active {
                display: block;
            }

            ul {
                li {
                    list-style: outside;
                    margin: 0 0 5px 20px;
                }
            }
        }
    }
}

.accordion__wrapper {
    padding: 0;
}

.accordion.bg-gray {
    color: #1E1E1E;
    .accordion__item {
        padding: 16px 24px;
        border-radius: 16px;
        background: #E6E6F1;
        &:after{
            background-image: url("/assets/img/svg/ic_angle.svg");
            border:0;
            width: 24px;
            height: 24px;
            z-index: 1;
            right: 24px;
            top: 24px;
            transform: rotate(0deg);
        }
        &.active{
            &:after {
                transform: rotate(180deg);
            }
        }
        &-heading {
            color: #1E1E1E;
            line-height: 42px;
            font-size: 14px;
            font-weight: 700;
        }
        &-content{
            padding-top: 0;
            font-size: 12px;
            font-weight: 400;
            line-height: 24px;
        }
    }

}
