.list_table {
  width: 100%;

  li {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 5px 0;
    position: relative;

    &:last-child {
      margin-bottom: 10px;
    }

    & > div {
      right: -4px;
      top: 2px;
      position: absolute;
    }

    @include b(420) {
      font-size: 14px;
      padding: 3px 0;
    }
  }

  span {
    margin-left: auto;
  }
}

.baner_v2 {
  background-color: #F2F2F7;
  padding: 48px 15px;

  &-link {
    border-radius: 8px;
    background: #FF3494;
    min-height: 24px;
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: .2s ease-in-out;

    &:hover {
      background-color: #fff;
      color: #3F3188;
    }
  }

  &-mobile {
    display: flex;
    margin: 16px 0;
    gap: 10px;
    @include b(480) {
      flex-wrap: wrap;
      justify-content: center;
      img {
        max-width: 130px;
      }
    }
  }

  &_qr {
    display: flex;
    background-color: #F2F2F7;
    flex-direction: column;
    width: 100%;
    max-width: 760px;
    padding: 24px 24px 64px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: auto;
    border-radius: 16px;
    text-align: center;

    &-close {
      margin-left: auto;
      cursor: pointer;
    }

    &-title {
      color: #141414;
      font-size: 32px;
      font-weight: 700;
      line-height: 42px;
    }

    &-image {
      max-width: 212px;
      margin-top: 48px;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    max-width: 1102px;
    gap: 15px;
    @include b(768) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  h1 {
    color: #040706;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    padding-bottom: 32px;
    @include b(420) {
      font-size: 24px;
      padding-bottom: 18px;
    }
  }

  &--content {
    max-width: 425px;
    width: 100%;
  }

  &--images {
    max-width: 555px;
    @include b(980) {
      max-width: 400px;
    }
  }

  .anons {
    align-items: center;

    .list_table {
      padding: 24px 0;
      font-size: 16px;

      li {
        justify-content: left;
      }

      span {
        margin-left: 16px;
      }
    }

    .baner_v2 {
      &-link {
        padding: 8px 24px;
        margin-right: 24px;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        align-items: center;

        &s {
          display: flex;
        }

        &--more {
          padding: 8px 24px;
          border-radius: 8px;
          border: 1px solid #141414;
          color: #141414;
          font-size: 14px;
          line-height: 24px;
          background: #F2F2F7;

          &:hover {
            background: #FF3494;
            color: #fff;
            cursor: pointer;
            border-color: transparent;
            transition: .2s ease-in-out;
          }
        }
      }

      &--title {
        color: #040706;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
      }

      &--content {
        max-width: unset;
        width: 100%;
      }

      &--images {
        max-width: 406px;
        margin-right: 48px;
        @include b(980) {
          max-width: 360px;
        }
        @include b(768) {
          max-width: unset;
          margin-right: unset;
        }
      }
    }
  }
}
