.detailed_info {
  position: relative;
  top: -90px;

  @include b(1550) {
    top: -70px;
  }

  @include b(tablet) {
    top: -40px;
  }

  @include b(500) {
    top: 0;
  }

  &.basic {
    padding-bottom: 80px;
    @include b(500) {
      padding-top: 16px;
    }
    .container {
      max-width: 1256px;
    }
  }

  .full_html {
    font-size: 10px;
    @include b(500) {
      font-size: 12px;
      line-height: 14px;
    }
    p {
      margin-bottom: 8px;
      &:last-child {
        padding-top: 8px;
        margin-bottom: 0;
      }

      a {
        font-size: 18px;
        color: #cc2d78;
        font-weight: 500;
        display: flex;
        align-items: center;
        &:before {
          content: "";
          display: block;
          width: 20px;
          height: 20px;
          background: url(/assets/img/svg/pdf_table_icon.svg) center no-repeat;
          background-size: contain;
          margin-right: 8px;
        }
      }
      img {
        width: 15px;
        height: 20px;
      }
    }
  }
}
