.bigblock {
    &__wrapper{
        &.gradient {
            background: rgb(156,56,110);
            background: linear-gradient(169deg, rgba(156,56,110,1) 0%, rgba(116,55,166,1) 79%);
        }

        &.with_circle {
            background-image: url("/assets/img/svg/elipse.svg");
            background-repeat: no-repeat;
            background-position: top right;
            .--containerPreview{
                flex-direction: row-reverse;
            }
        }
    }

    .--containerPreview {
        @include b(mobile){
            padding: 0;
            flex-wrap: wrap;
        }
    }

    &__images{
        width: 100%;
        height: 100%;
        .field__item{
            width: 100%;
            height: 100%;
        }
    }
    &__image{
        width: auto;
        max-width: 50%;
        padding-right: 5%;

        @include b(mobile){
            max-width: 100%;
            padding-right: unset;
            padding: 0 45px;
        }

        img {
            display: block;
            height: auto;
            width: auto;
            max-width: 100%;
            object-fit: unset;
        }
    }
    &__description{
        padding-top: 35px;
        width: 50%;
        margin-left: auto;
        max-width: 521px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include b(mobile) {
            padding: 25px 45px;
            background-color: #fff;
            width: 100%;
            margin: auto;
            max-width: 100%;
        }
        @include b(500) {
            padding: 25px 15px;
        }
    }
    &__title{
        font-weight: 600;
        font-size: 67px;
        line-height: 84px;
        color: #fff;
        @include b(1550) {
            font-size: 40px;
            line-height: 50px;
        }

        @include b(mobile) {
            color:#1B1E1D;
        }
    }
    &__subtitle{
        font-weight: 500;
        font-size: 44px;
        line-height: 51px;
        color: #fff;
        margin-bottom: 32px;
        @include b(1550) {
            font-size: 26px;
            line-height: 31px;
        }

        @include b(mobile) {
            color:#1B1E1D;
        }
    }
    &__text{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        @include b(mobile) {
            padding: 24px 0 0 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .advantages {
        display: flex;
        padding-bottom: 38px;
        @include b(mobile) {
            flex-direction: column;
            padding-bottom: 32px;
        }
        &__wrapper{
            display: flex;
            flex-direction: column;
            margin-right: 97px;
            @include b(mobile) {
                margin-bottom: 20px;
            }
            &:last-child {
                margin-right: 0;
                margin-bottom: 0;
            }
        }
        &__title{
            font-size: 26px;
            line-height: 30px;
            color: #fff;
            @include b(768) {
                font-size: 18px;
            }
            @include b(mobile) {
                color:#1B1E1D;
            }
        }
        &__subtitle{
            font-size: 15px;
            line-height: 18px;
            color: #fff;
            @include b(mobile) {
                color:#1B1E1D;
            }
        }
    }

    .caption {
        font-weight: 500;
        font-size: 26px;
        line-height: 30px;
        color: #fff;
        margin-bottom: 24px;
        max-width: 100%;
        text-align: center;
        padding-top: 56px;
        display: block;
        @include b(mobile) {
            color:#1B1E1D;
            text-align: center;
            font-size: 15px;
            line-height: 17px;
        }
    }

    .download_wrapp {
        display: flex;
        @include b(mobile) {
            flex-direction: column;
        }
    }

    .download {
        width: 199px;
        height: 48px;
        margin-right: 32px;
        &:last-child {
            margin-right: 0;
        }
        @include b(mobile) {
            margin-bottom: 16px;
            margin-right: 0;
            &:first-child {
                width: 175px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        @include b(767) {
            &:first-child {
                width: 290px;
            }
        }
        @include b(500) {
            width: 150px;
            img {
                object-fit: cover;
                border-radius: 4px;
            }
        }
    }

    .logo {
        margin-top: 56px;
        display: block;
        width: 187px;
        height: 56px;
        @include b(mobile) {
            display: none;
        }
    }

    .logo_lending__wrapper {
        margin-bottom: 40px;
        @include b(1550) {
            margin-bottom: 20px;
        }
        @include b(mobile) {
            display: none;
        }
    }

    .logo_lending__image {
        max-width: 186px;
        max-height: 56px;
    }

    &.home_preview {

        @include b(500) {
            padding-top: 80px;
        }

        .advantages {
            display: none;
        }

        .bigblock__image {
            display: none;
        }

        .logo_lending__wrapper {
            display: none;
        }

        .form {
            margin-bottom: 0;
            @include b(829) {
                display: flex;
                margin-bottom: 0;
            }
        }

        .form-control {
            @include b(mobile) {
                width: 100%;
                margin-right: 0;
            }
        } 

        .bigblock__description {
            width: 100%;
            max-width: 100%;
            
            .bigblock__title {
                color: #30394A;
                text-align: center;
            }

            .poluchit_ssylku {
                flex-wrap: wrap;
                justify-content: center;

                .form_text_prefix {
                    display: block;
                    flex: 0 0 100%;
                    text-align: center;
                    margin-bottom: 10px;

                    font-weight: 700;
                    font-size: 16px;
                }

                .phone {
                    @include b(mobile) {
                        flex: 0 0 100%;
                        margin-bottom: 10px;
                    }
                }
                
                .form-control {
                    margin-right: 30px;
                    @include b(mobile) {
                        margin: 0 0 0 0;
                    }
                }

                .submit {
                    @include b(mobile) {
                        width: 100%;
                    }
                }

            }
        }
    }
    
}

.preview {

    .--containerPreview {
        max-width: 1296px;
    }
    
    .bigblock__image {
        height: 100%;
        padding-right: 0;
        margin-right: 25px;
        width: 50%;
        @include b(mobile) {
            padding: 0;
        }
    }

    .bigblock__image {
       padding: 0;
        @include b(mobile) {
            margin: 0 auto;
        }
    }
    .bigblock__images {
        img {
            max-width: 598px;
            max-height: 638px;
        width: 100%;
            
        }
    }
    
    .logo {
        display: none;
    }

    .caption {
        display: none;
    }

    .form {
        flex-wrap: wrap;
    }

    .form_text_prefix {
        display: block;
        font-weight: 700;
        margin-bottom: 25px;
        color: #fff;
    }

    .advantages__wrapper {
        @include b(829) {
            margin-right: 32px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .bigblock__description {
        margin: 0;
    }

    .bigblock__text {
        align-items: flex-start;
        display: none;
        @include b(829) {
            display: flex;
        }
    }

    .react-tel-input .form-control {
        @include b(tablet) {
            width: 100%;
        }
    }

    .download_wrapp {
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .download {
        width: 192px;
        height: 48px;
        background-color: #000;
        border-radius: 4px;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
        }
        img {
          object-fit: contain;
          max-width: 147px;
          max-height: 38px;
        }
        @include b(mobile) {
          width: 290px;
          height: 48px;
          &:last-child {
              width: 290px;
          }
          &:first-child {
              margin-bottom: 16px;
              margin-right: 0;
          }
        }
      }
      .download_googlePlay {
        width: 199px;
      }
}

.preview--noForm {
    .form {
        display: none;
    }

    .logo {
        display: block;
    }

    .caption {
        display: block;
    }

    .logo_lending__image {
        display: none;
    }
}

.deposit_preview {
    border-top: 1px solid #C4C4C4;
    padding-top: 75px ;

    .--containerPreview {
        max-width: 1146px;
    }

    .logo_lending__wrapper {
        display: none;
    }
    .bigblock__image {
        width: 34%;
        padding-right: 0;
        @include b(tablet) {
            width: 42%;
        }
        @include b(mobile) {
            width: 34%;
            padding: 0 45px;
            max-width: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        @include b(500) {
            padding: 0 15px;
            img {
                width: 100%;
            }
        }
    }
    .bigblock__images {
        @include b(mobile) {
            max-width: 400px;
        }
    }
    .bigblock__description {
        padding-top: 47px;
        max-width: 100%;
        margin-left: 0;
        width: 58%;
        @include b(mobile) {
            padding-top: 16px;
        }
        @include b(tablet) {
            width: 53%;
           margin:0 0 0 auto;
           padding-top: 95px;
        }
        @include b(mobile) {
            width: 100%;
        }
        @include b(mobile) {
            width: 100%;
            padding-bottom: 0;
            padding-top: 16px;
        }
    }
    .bigblock__title {
        font-size: 60px;
        font-weight: 700;
        line-height: 72px;
        color: #30394A;
        margin-bottom: 10px;
        @include b(tablet) {
            font-size: 40px;
            line-height: 31px;
        }
        @include b(mobile) {
            font-size: 34px;
            line-height: 26px;
        }
    }
    .bigblock__subtitle {
        color: #30394A;
        font-size: 38px;
        line-height: 45px;
        font-weight: 600;
        margin-bottom: 55px;
        @include b(tablet) {
            font-size: 30px;
            line-height: 31px;
            margin-bottom: 25px;
        }
        @include b(mobile) {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 25px;
        }
    }
    .advantages {
        padding-bottom: 0;
        @include b(mobile) {
            flex-direction: row;
        }
        @include b(mobile) {
            border: none;
        }
        @include b(mobile) {
            flex-direction: column;
        }
    }
    .advantages__wrapper {
        margin-right: 31px;

    }
    .advantages__title {
        font-size: 24px;
        line-height: 28px;
        font-weight: 600;
        color: #30394A;
        margin-bottom: 5px;
        @include b(tablet) {
            font-size: 22px;
        }
        @include b(mobile) {
            font-size: 26px;
            line-height: 31px;
        }
    }
    .advantages__subtitle {
        font-size: 16px;
        line-height: 19px;
        font-weight: 500;
        color: #30394A;
        @include b(mobile) {
            font-size: 15px;
            line-height: 18px;
        }
    }

    .form  {
        flex-wrap: wrap;
        padding-top: 55px;
        justify-content: flex-start;
        @include b(tablet) {
            display: none;
        }
        .form-control {
            border: 1px solid rgba(255, 167, 209, 0.37);
            margin-right: 24px;
        }
    }



    .form_text_prefix {
        display: block;
        flex: 0 100%;
        font-weight: 700;
        margin-bottom: 25px;
    }


    .bigblock__text {
        display: none;
        @include b(tablet) {
            display: block;
        }
    }
    .caption {
        color: #30344a;
        font-size: 18px;
        line-height: 22px;
        text-align: start;
        font-weight: 700;
        padding-top: 37px;
        margin-bottom: 16px;
        @include b(mobile) {
            padding-top: 0;
        }
    }

    .download_wrapp {
        @include b(tablet) {
            flex-direction: row;
        }
        @include b(mobile) {
            flex-direction: column;
            align-items: center;
        }
    }

    .download {
        width: 192px;
        height: 48px;
        background-color: #000;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          object-fit: contain;
          max-width: 147px;
          max-height: 38px;
        }
        @include b(tablet) {
            margin-right: 16px;
            &:first-child {
                width: 175px;
            }
        }
        @include b(mobile) {
            &:first-child {
                margin-bottom: 0;
            }
        }

        @include b(mobile) {
          width: 290px;
          height: 48px;
          &:last-child {
              width: 290px;
          }
          &:first-child {
              margin-bottom: 16px;
              margin-right: 0;
              width: 290px;
          }
        }
      }
      .download_googlePlay {
        width: 199px;
      }
}

.preview_card {

    padding: 93px 0 120px 0;
    @include b(tablet) {
        padding-bottom: 80px;
    }

    .bigblock__wrapper {
        max-width: 1569px;
        margin: 0 auto;
        padding: 0 45px;
        @include b(500) {
            padding: 0 15px;
        }
    }

    .--containerPreview {
        max-width: 100%;
        background: #F9F3FF;
        border-radius: 80px;
        padding: 0;
        justify-content: flex-end;
        height: 580px;
        @include b(tablet) {
            border-radius: 60px;
            height: 310px;
        }
        @include b(704) {
            align-items: flex-end;
            border-radius: 32px;
            padding:  0 15px 32px 15px;
            height: 519px;
        }
    }

    .bigblock__image {
        width: 50%;
        height: 100%;
        display: flex;
        padding-left: 110px;
        @include b(1258) {
            padding-left: 0;
        }
        @include b(tablet) {
            height: auto;
        }
        @include b(704) {
            width: 100%;
            max-width: 100%;
            padding-right: 0;
        }
    }

    .bigblock__images {
        margin-top: -90px;
        
        @include b(704) {
            margin: 0 auto;
            margin-top: -40px;
            max-width: 271px;
        }
        img {
            max-width: 541px;
            @include b(tablet) {
                max-width: 307px;
            }
            @include b(704) {
                max-width: 100%;
            }
        }
    }

    .logo_lending__wrapper {
        display: none;
    }

    .bigblock__description {
        padding-top: 0;
        width: 100%;
        margin-left: 0;
        max-width: 678px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include b(1258) {
            max-width: 500px;
        }
        @include b(908) {
            margin: 0;
            padding: 0 0 36px 0;
            max-width: 358px;
            margin: auto 0;
        }
        @include b(mobile){
            background-color: transparent;
        }
        @include b(704) {
            margin: 0;
            max-width: 100%;
            padding-bottom: 0;
        }
    }

    .bigblock__title {
        line-height: 1.25;
        font-size: 60px;
        color: #30394A;
        font-weight: 700;
        max-width: 500px;
        margin-bottom: 12px;
        @include b(tablet) {
            font-size: 40px;
            line-height: 1.2;
            margin-bottom: 16px;
        }

        @include b(500) {
            font-size: 32px;
            line-height: 1.3;
        }
    }

    .bigblock__subtitle {
        font-size: inherit;
        color: inherit;
        line-height: 1.25;
        margin-bottom: 30px;
        @include b(tablet) {
            margin-bottom: 24px;
        }
    }

    .advantages {
        display: none;
    }

    .button {
        margin: 0;
        max-width: 232px;
        @include b(tablet) {
            width: 232px;
        }
        @include b(500) {
            width: 100%;
            max-width: 100%;
        }
    }
}

.pay_preview , .apple-previer {
    padding-bottom: 68px;
    .--containerPreview {
        max-width: 1311px;
        justify-content: space-between;
    }   
    .with_circle {
        background-size: 850px;
    } 
    .bigblock__image {
        @include b(500) {
            margin-bottom: 16px;
            margin: 0 auto;
        }
    }
    &.apple-previer {
        .bigblock__images {
            max-width: 506px;
            padding: 102px 0px 65px 0px;
            @include b(tablet) {
                padding: 0;
            }
           img {
               object-fit: cover;
               max-height: 562px;
           }
        }
        .bigblock__image {
            padding-right: 0;
            @include b(mobile) {
                padding-right: 45px;
            }
        }
    }
    .bigblock__images {
        max-width: 341px;
        @include b(500) {
            max-width: 300px;
            margin: 5px;
        }
    }
    .bigblock__description {
        margin: 0;
        max-width: 100%;
        padding-top: 0;
        padding-left: 40px;
        @include b(mobile) {
            padding-left: 45px;
        }
        @include b(500) {
            padding-left: 15px;
        }
    }
    .bigblock__title {
        color: #30394A;
        font-size: 60px;
        font-weight: 700;
        line-height: 1.16;
        margin-bottom: 55px;
        @include b(mobile) {
            font-size: 40px;
            line-height: 1.15;
        }
        @include b(500) {
            font-size: 34px;
            line-height: 1.3;
            margin-bottom: 48px;
        }
    }
    .advantages {
        display: none;
    }
    .bigblock__text {
        align-items: flex-start;
        @include b(500) {
            padding-top: 0;
        }
        .caption_pay {
            font-size: 24px;
            line-height: 1.25;
            margin-bottom: 71px;
            @include b(500) {
                font-size: 16px;
                line-height: 1.25;
                margin-bottom: 30px;
            }
        }
        .image_logo {
            padding-right: 31px;
            position: relative;
            &:after {
                content:'';
                position: absolute;
                top: -14px;
                right: 0;
                display: inline-block;
                width: 1px;
                height: 86px;
                background-color: #30394A;
            }
        }
        .image_pay {
            padding-left: 31px;
        }
        .img_wrapp {
            display: flex;
        }

    }
    
}





