.calculator {
    background: #3F3188;
    box-shadow: 0px 4px 20px rgba(34, 25, 79, 0.33);
    padding: 80px 15px;
    @include b(tablet) {
        padding: 48px 45px;
    }
    @include b(500) {
        padding: 24px 15px;
    }
    .calculator__wrapper {
        max-width: 1494px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 80px;
        display: flex;
        @include b(tablet) {
            flex-direction: column;
        }
        @include b(500) {
            padding: 34px 0 0 0;
            border-radius:32px;
        }
        label {
            color: #5A5F67;
            margin-bottom: 12px;
            display: flex;
        }
    }

    .calculator__title {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 24px;
        font-weight: 700;
        display: block;
        @include b(500) {
            font-size: 36px;
            line-height: 43px;
            margin: 0 12px;
        }
        &:after {
            content:'';
            background: url(/assets/img/svg/money_box.svg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 38px;
            height: 35px;
            margin-left: 17px;
            display: inline-block;
        }
    }

    .range {
        position: relative;

        input[type="text"] {
            height: 50px;
            padding: 0 14px;
            font-weight: 600;
        }

        &-line-wrapper {
            position: relative;
            height: 4px;
            top: -2px;
        }

        &-line {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background-color: #FF3494;
        }

        input[type="range"] {
            position: absolute;
            left: 0;
            bottom: 2px;
            -webkit-appearance: none;
            width: 100%;
            height: auto;
            border: none;
            background: transparent;
            @-moz-document url-prefix() {
                bottom: -7px
            }
            @supports (-ms-ime-align: auto) {
                height: 20px;
                bottom: -5px;
            }

            &:focus, &:active {
                outline: none
            }

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                height: 20px;
                width: 20px;
                margin-top: -8px;
                border: 7px solid #FF3494;
                border-radius: 50%;
                background-color: #fff;
                cursor: pointer;
            }

            &::-moz-range-thumb {
                height: 20px;
                width: 20px;
                margin-top: -8px;
                border: 7px solid red;
                border-radius: 50%;
                background-color: #fff;
                cursor: pointer;
                box-sizing: border-box;
            }

            &::-ms-thumb {
                height: 20px;
                width: 20px;
                margin-top: 0;
                border: 7px solid red;
                border-radius: 50%;
                background-color: #fff;
                cursor: pointer;
                box-sizing: border-box;
            }

            &::-webkit-slider-runnable-track {
                width: 100%;
                height: 4px;
                cursor: pointer;
                border: none;
                outline: none;
            }

            &::-moz-range-track {
                width: 100%;
                height: 4px;
                cursor: pointer;
            }

            &::-ms-track {
                width: 100%;
                height: 4px;
                cursor: pointer;
                background: transparent;
                color: transparent;
            }

            &::-ms-fill-upper {
                background: transparent
            }
        }
    }
    .calculator__left,.calculator__right {
        width: 50%;
        padding: 64px 100px;
        @include b(tablet) {
            padding: 40px;
            width: 100%;
        }
        @include b(500) {
            padding: 24px 12px;
        }
    }
    .calculator__right {
        background-color: #F8F8FB;
        border-radius:  0 80px 80px 0;
        position: relative;
        @include b(tablet) {
            border-radius:  0 0 80px 80px;
        }
        @include b(mobile) {
            border-radius: 0 0 32px 32px;
        }
        .calculator__title {
            &:after {
                content:'';
                background: url(/assets/img/svg/money_with_wings.svg);
                background-repeat: no-repeat;
                background-size: cover;
                width: 38px;
                height: 35px;
                margin-left: 17px;
                display: inline-block;
            }
        }

        &.loading {
            transition: all .3s;
            &:after {
                content:'';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #fff;
                opacity: .5;
                z-index: 10;
                border-radius:  0 80px 80px 0;
                @include b(tablet) {
                    border-radius:  0 0 80px 80px;
                }
                @include b(mobile) {
                    border-radius: 0 0 32px 32px;
                }
            }
            &:before {
                content:'';
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 11;
                width: 46px;
                height: 46px;
                border: 8px solid rgba(0, 82, 236, 0.25);
                border-top-color: #0052ec;
                border-radius: 50%;
                animation: loader-rotate 1s linear infinite;
            }
        }
            
        @keyframes loader-rotate {
            0% {
                transform: rotate(0);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}

.cur-switcher {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 64px;
    @include b(500) {
        margin-bottom: 28px;
    }
    &__btn {
        margin-right: 16px;
        font-size: 16px;
        line-height: 1;
        padding: 13px 48px;
        color: inherit;
        font-weight: 700;
        text-align: center;
        flex-grow: 0;
        flex-shrink: 1;
        border-radius: 12px;
        cursor: pointer;
        transition: background .3s ease, color .3s ease;
        background-color: #EFF2F3;
        @include b(500) {
            padding: 7px 24px;
            font-size: 18px;
            line-height: inherit;
        }
        &:last-child {
            margin-right: 0;
        }
        &.active,
        &:hover {
            background-color: #FF3494;
            color: #fff;
        }
    }

}
.calculator__result-item {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    p {
        font-weight: 500;
    }
    span {
        max-width: 288px;
    }
    @include b(500) {
        font-size: 16px;
        line-height: 18px;
        padding: 0 12px;
    }
}

.yourMoney {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    padding-bottom: 24px;
    border-bottom: 1px solid #EBEBEB;
    span {
        max-width: 100%;
        @include b(500) {
            font-size: 22px;
            line-height: 26px;
        }
    }
    p {
        font-weight: 700;
        @include b(500) {
            font-size: 22px;
            line-height: 26px;
        }
    }
}

.podatok {
    font-size: 14px;
    line-height: 15px;
    color: #5A5F67;
    @include b(500) {
        font-size: 12px;
        line-height: 15px;
        padding: 0 12px;
    }
}

.button { 
    margin-left: 12px;
    width: 250px;
    @include b(tablet) {
        width: 270px;
        margin: 32px auto 0 auto;
    }
    @include b(500) {
        width: 100%;
        margin: 30px 0 20 0;
    }
}


.form_field {
    max-width: 530px;
    margin-bottom: 45px;
    @include b(tablet) {
        max-width: 100%;
    }
    @include b(500) {
        margin-bottom: 35px;
    }
    input[type=number] {
        font-family: inherit;
        width: 530px;
        border: 1px solid #EBEBEB;
        border-radius: 8px;
        padding: 16px 0 24px 16px;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        transition: all .1s;
        @include b(tablet) {
            width: 100%;
        }
        &:focus {
            border: 1px solid #FF3494;
        }
    }
}


.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    input[type=checkbox] {
        display: none;
        &:checked ~ .label_text::after {
            opacity: 1;
        }
        &:checked ~ .label_text::before {
            background-color: #FF3494;
        }
    }

    .label_text  {
        position: relative;
        font-weight: 500;
        display: flex;
        cursor: pointer;
        &:before {
            content:'';
            width: 24px;
            height: 24px;
            border: 1px solid #EBEBEB;
            border-radius: 4px;
            display: inline-block;
            transition: all .1s;
            margin-right: 12px;
        }
        &::after {
            content:'';
            position: absolute;
            width: 14px;
            height: 9px;
            border-bottom: 2px solid #fff;
            border-left: 2px solid #fff;
            transform: rotate(-45deg);
            opacity: 0;
            left: 5px;
            top: 4px;
            transition: all .2s;
            display: block;
        }
        
    }
}