.footer {
  margin-top: 120px;
  padding: 30px 0 80px 0;
  background: #141414;
  @include b(tablet) {
      padding: 30px 0 11px 0;
  }
  @include b(mobile) {
      padding: 24px 0;
  }

  .--containerLarge {
    max-width: 1568px;
    padding: 0 45px;
    @include b(500) {
      padding: 0 15px;
    }
  }

  .full_html {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  .no-route-link,.footer_bank-item  {
    cursor: pointer;
  }

  &__brand {
    span {
      position: relative;
      padding: 0 30px;
      font-family: "Roboto", sans-serif;
      font-size: 22px;
      margin-top: 4px;
      color: #fff;
      @include b(mobile) {
        display: none;
      }
      &::after,
      &::before {
        content: "";
        position: absolute;
        top: -9px;
        width: 2px;
        height: 44px;
        background-color: #fff;
      }

      &::before {
        left: 15px;
      }
      &::after {
        right: 18px;
      }
    }
  }

  &__image-brand {
    max-width: 116px;
    max-height: 40px;
    @include b(mobile) {
      max-width: 28%;
    }
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__image-brand-idea {
    max-width: 140px;
    max-height: 21px;
    position: relative;
    @include b(mobile) {
      padding-left: 30px;
      max-width: 43%;
      &::before {
        content: "";
        position: absolute;
        top: -7px;
        width: 2px;
        height: 32px;
        background-color: #fff;
        left: 15px;
      }
    }

    @include b(500){
      &:before {
        top: -3px;
        height: 25px;
      }
    }
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__wrap-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include b(tablet) {
        flex-wrap: wrap;
        .footer__item {
          &:last-child {
            padding-top: 30px;
          }
        }
    }
    @include b(mobile) {
      flex-direction: column;
      .footer__item {
        &:last-child {
          padding-top: 0;
        .footer__item-title {
          &::after {
            display: none;
            }
          }
        }
      }
    }
  }

  &__item {
    width: 25%;
    @include b(tablet) {
        width: 50%;
    }
    @include b(mobile) {
      width: 100%;
      position: relative;
      .footer__item-title {
          &:nth-child(4)::after {
            display: none;
          }
      }
    }
  }

  .footer_bank {
    width: 25%;
    @include b(tablet) {
      width: 50%;
    }
    @include b(mobile) {
        width: 100%;
    }
  }

  .footer_produkti {
    width: 17%;
    @include b(tablet) {
      width: 50%;
    }
    @include b(mobile) {
        width: 100%;
    }
  }

  .footer_poslugi  {
    width: 24%;
    @include b(tablet) {
      width: 50%;
    }
    @include b(tablet) {
        padding-top: 30px;
    }
    @include b(mobile) {
        padding-top: 0;
        width: 100%;
    }
  }


  &__item-title {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 24px;
    line-height: 33px;
    display: block;

    &.active {
      color: #1a91d0;
      &::after {
        transform: rotate(-230deg);
        top: 13px;
      }
    }
    @include b(mobile) {
      font-size: 24px;
      margin-bottom: 16px;
      &::after {
        content: "";
        position: absolute;
        top: 10px;
        right: 0;
        width: 9px;
        height: 9px;
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        transform: rotate(-45deg);
        transition: all 0.1s;
        cursor: pointer;
      }

      &:last-child::after {
        display: none;
      }
    }
  }

  &__menu-list {
    @include b(mobile) {
      padding-left: 20px;
      opacity: 0;
      overflow: hidden;
      display: none;
    }
    &.active {
      opacity: 1;
      overflow: visible;
      display: block;
    }
    a,
    span,
    .no-route-link {
      font-weight: 500;
      color: #fff;
      font-size: 16px;
      margin-bottom: 16px;
      display: inline-block;
      position: relative;
      display: flex;
      @include b(mobile) {
        margin-bottom: 25px;
      }
      &:hover {
        text-decoration: underline;
      }

      span {
        margin-bottom: 0;
        &:before {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          background: url(/assets/img/hourglass.png);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          margin-left: 5px;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }

    :last-child .no-route-link {
      margin-bottom: 0;
      @include b(mobile) {
        margin-bottom: 25px;
      }
    }
  }

  &__phone {
    font-weight: 500;
    color: #fff;
    font-size: 24px;
    margin-bottom: 24px;
    display: block;
    &:hover {
      text-decoration: underline;
    }
  }

  &__social {
    display: flex;
    margin-bottom: 24px;
  }

  &__social-link {
    margin-right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    svg {
      fill: #000;
    }
    @include b(1000) {
      width: 35px;
      height: 35px;
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__license {
    margin-bottom: 24px;
    span {
      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      color: #fff;
      display: block;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__fond {
    display: flex;
    align-items: center;
    a {
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      color: #fff;
    }
    span {
      color: #e86fa8;
    }
    @include b(1000) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__img-fgvfo {
    max-width: 40px;
    max-height: 40px;
    margin-right: 12px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__modal {
    position: fixed;
    top: 0;
    left: -100%;
    right: 0;
    background-color: #fff;
    z-index: 99;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    overflow: auto;
    &.active {
      left: 0;
    }
  }

  &__modal-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 80px;
    width: 100%;
    position: relative;
  }

  &__modal-title {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    h3 {
      margin-bottom: 32px;
    }
  }
  &__close-btn {
    &::after,
    &::before {
      content: "";
      position: absolute;
      z-index: 300;
      top: 40px;
      right: 40px;
      width: 4px;
      height: 40px;
      background-color: #a4a8af;
      transform: rotate(45deg);
      cursor: pointer;
    }
    &::before {
      transform: rotate(-45deg);
    }
  }
  &__modal-list {
    li {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      line-height: 30px;
    }
    a {
      color: #cc2d78;
      text-decoration: underline;
    }
  }
}
