.form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
  padding-top: 32px;
  @include b(829) {
      display: none;
  }
}

.popup_close {
  display: none;
}

.react-tel-input {
  .form-control {
    height: 48px;
    width: 256px;
    border-radius: 12px;
    border: 1px solid #fff;
    padding-left: 16px;
    text-transform: uppercase;
    box-shadow:  0px 0px 15px rgba(65, 4, 80, 0.05);
    transition: all 0.2s;
    font-size: 18px;
    font-weight: 500;
    color: #7a6c7a;

    @include b(1024) {
      width: 230px;
    }
    &::placeholder {
      text-transform: uppercase;
      font-family: "Gilroy";
    }
    @include b(tablet) {
      width: 170px;
      margin-right: 30px;
      font-size: 16px;
    }
  }
}

.flag-dropdown {
  display: none;
}

.button,
.submit {
  width: 239px;
  height: 48px;
  background-color: #ff3494;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(118, 13, 63, 0.35);
  transition: background-color 0.2s ease-in-out;
  @include b(1024) {
    width: 200px;
  }
  &:hover {
    background-color: darken(#ff3494, 10%);
  }
}

.submit {
    @include b(tablet) {
        font-size: 16px;
    }
}

.form_text_suffix {
  display: none;
}

.form_text_prefix {
  display: none;
}

.phone {
  position: relative;
  display: flex;
  flex-direction: column;
  span {
    font-size: 15px;
    position: absolute;
    bottom: -27px;
    color: #ff3a44;
    padding-top: 10px;
    display: flex;
    align-items: center;
    &:before {
      content: '';
      background: url(/assets/img/svg/icons-one_finger.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 24px;
      height: 24px;
      margin-right: 5px;
    }
    @include b(tablet) {
      position: static;
      margin-bottom: 10px;
    }
    @include b(mobile) {
      color: #000;
    }
  }
}

.button {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poluchit_ssylku__modal {
  &.popup__modal {
    background: rgba(82, 71, 95, 0.35);
  }
  .container,
  .popup__modal-wrap {
    width: 100%;
    height: 100%;
  }

  .popup__close-btn {
      display: none;
  }

  .poluchit_ssylku__modal-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .popup__modal-wrap {
    padding-top: 0;
  }

  .form {
    position: relative;
    width: 524px;
    height: 494px;
    background-color: #fff;
    display: flex;
    margin: 0;
    padding: 66px 15px 86px 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    @include b(mobile) {
        width: 310px;
        padding: 12px 26px 30px 26px;
        justify-content: flex-start;
        display: block;
    }
    &:before {
      content:'';
      background: url(/assets/img/obank-logo-form.png);
      display: block;
      background-repeat: no-repeat;
      background-size: 347px 153px;
      width: 347px;
      height: 153px;
      margin: 0 auto;
      @include b(mobile) {
          background: url(/assets/img/img_for_feedback.png);
          width: 147px;
          height: 207px;
          background-size: 147px 207px;
          background-repeat: no-repeat;
          margin-bottom: 41px;
      }
    }

    .form-control {
      border: 1px solid rgba(255, 167, 209, 0.37);
    }
  }

  .popup_close {
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 27px;
    right: 20px;
    z-index: 100;
    cursor: pointer;
    &:before , &::after {
      content:'';
      position: absolute;
      top: 8px;
      left: 0;
      display: inline-block;
      width: 15px;
      height: 1px;
      background-color: #30394A;
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

  .text {
    padding-right: 20px;
    input {
      height: 48px;
      width: 256px;
      border-radius: 12px;
      border: none;
      padding-left: 16px;
      color: #7a6c7a;
      font-weight: 600;
      text-transform: uppercase;
      box-shadow: 0px 0px 15px rgba(65, 4, 80, 0.48);
      &::placeholder {
        color: #7a6c7a;
        font-weight: 600;
        text-transform: uppercase;
        font-family: "Gilroy";
        font-size: 16px;
      }
      &:focus {
        border-color: darken(#fff, 70%);
      }
    }
  }

  .submit {
    width: 225px;
    height: 48px;
    background-color: #ff3494;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(118, 13, 63, 0.35);
    transition: background-color 0.2s ease-in-out;
    @include b(mobile) {
        width: 100%;
    }
    &:hover {
      background-color: darken(#ff3494, 10%);
    }
  }

  .form_text_suffix {
    display: none;
  }

  .form_text_prefix {
    display: block;
    flex: 0 0 100%;
    text-align: center;
    @include b(mobile) {
        font-size: 14px;
        line-height: 1.2;
        margin-bottom: 31px;
    }
  }

  .phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    @include b(mobile) {
        width: 100%;
        margin-bottom: 18px;
    }
    span {
      color: #000;
      padding-top: 10px;
      position: absolute;
      bottom: 0px;
      @include b(tablet) {
          bottom: -30px;
      }
    }
  }

  .form-control {
      @include b(mobile) {
          width: 100%;
          margin-right: 0;
      }
  }
}

.deposit__forma  {
  .poluchit_ssylku__wrapper {
    padding: 80px 0;
    background: #FFF8FD;
    border-radius: 80px;
    @include b(tablet) {
      padding: 48px 0;
    }
    @include b(500) {
      padding: 24px 12px 34px 12px;
      border-radius: 32px;
    }
  }
  .form_text_prefix {
    flex: 0 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    color: #30394A;
    margin-bottom: 24px;
    p {
      max-width: 496px;
    }
  }
  .form-control {
    margin-right: 24px;
  }
  .poluchit_ssylku__text .image_qrcode__wrapper{
    display: flex;
    justify-content: center;
    gap: 18px;
    @include b(480) {
      align-items: center;
      flex-direction: column;
    }
  }
  .responsive_caption {
    display: none;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #30394A;
    max-width: 478px;
    text-align: center;
    margin: auto;
    margin-bottom: 32px;
    @include b(tablet) {
      display: block;
    }
    @include b(500) {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 16px;
      padding: 0 15px;
    }
  }
  .download_wrap {
    display: flex;
    @include b(tablet) {
      justify-content: center;
      margin-bottom: 32px;
    }
    @include b(700) {
      flex-direction: column;
      margin-bottom: 0px;
      width: 100%;
      align-items: center;
    }
  }
  .download {
    width: 192px;
    height: 48px;
    background-color: #000;
    border-radius: 4px;
    margin-right: 32px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    img {
      object-fit: contain;
      max-width: 147px;
      max-height: 38px;
    }
    @include b(700) {
      width: 265px;
      height: 48px;
      margin-right: 0;
      &:last-child {
        width: 265px;
      }
      &:first-child {
        margin-bottom: 16px;
        margin-right: 0;
      }
    }
  }
  .download_googlePlay {
    width: 199px;
  }
  .scan {
    background-color: #000;
    padding: 15px 35px;
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    line-height: 14px;
    cursor: pointer;
    @include b(tablet) {
      text-align: center;
    }
    @include b(mobile) {
      display: none;
    }
  }
  .form {
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 0;
    @include b(tablet) {
      display: none;
    }
  }
}



.deposit_withbg .poluchit_ssylku__wrapper,
.deposit_withbg2 .poluchit_ssylku__wrapper {
  position: relative;
  padding: 48px 0;
  background: #5A308D;
  border-radius: 80px;
  @include b(tablet) {
    padding: 48px 0;
  }
  @include b(500) {
    padding: 34px 12px;
    border-radius: 32px;
  }
  &:after{
    content: '';
    position: absolute;
    background: url(/assets/img/characters_dino.png);
    width: 446px;
    height: 446px;
    right: -10px;
    bottom: -81px;
  }
  .qr_code,
  .qr_code img {
    background-color: #fff;
    width: 285px;
    height: 285px;
  }
  .responsive_caption {
    font-size: 24px;
    line-height: 29px;
    width: 100%;
    max-width: 507px;
    margin-bottom: 30px;
    @include b(tablet) {
      display: block;
    }
    @include b(500) {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 16px;
    }
  }
  .poluchit_ssylku__text {
    display: flex;
    justify-content: center;
    column-gap: 94px;
    @include b(tablet) {
        align-items: center;
        flex-direction: column;
        row-gap: 32px;
    }
  }
  #download-block{
    max-width: 610px;
    width: 100%;
    z-index: 1;
  }
  .download {
    width: 192px;
    height: 48px;
    background-color: #000;
    border-radius: 4px;
    margin-right: 32px;
    &_wrap {
      display: flex;
      @include b(tablet) {
        justify-content: center;
        margin-bottom: 32px;
      }
      @include b(700) {
        flex-direction: column;
        margin-bottom: 0;
        width: 100%;
        align-items: center;
      }
    }
    &_text {
      color: #FFFFFF;
      @include b(tablet) {
        padding: 0 15px;
      }
      h5{
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 20px;
      }
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    img {
      object-fit: contain;
      max-width: 147px;
      max-height: 38px;
    }
    @include b(700) {
      width: 265px;
      height: 48px;
      margin-right: 0;
      &:last-child {
          width: 265px;
      }
      &:first-child {
          margin-bottom: 16px;
          margin-right: 0;
      }
    }
  }
  .download_googlePlay {
    width: 199px;
  }
}

.deposit_withbg2 {
  margin-top: 40px;
}

article.deposit_withbg2 .poluchit_ssylku__wrapper {
  background: linear-gradient(90deg, #D65592 70.357%, #F2A166 100%);
  &:after{
    content: none;
  }
  .qr_code {
    background-color: transparent;
    img {
      background-color: transparent;
    }
  }
}
