.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
  &.scrolled {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
  }
  &__wrap {
    height: 78px;
    display: flex;
    align-items: center;
    @include b(1024) {
      padding-right: 92px;
    }
    @include b(tablet) {
      padding-right: 0;
    }
  }

  &__wrap-nav {
    width: 100%;
    max-width: 950px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    @include b(tablet) {
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 20;
      overflow: auto;
      padding: 100px 0;
      background-color: #fff;
      flex-direction: column;
      @include trs;
      justify-content: start;
    }
    &.open_nav {
      top: 0;
    }
  }

  &__burger-position {
    display: none;
    @include b(tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      position: relative;
      img {
        position: relative;
        z-index: 30;
        max-width: 100%;
        max-height: 100%;
      }
    }
    @include b(500) {
      flex-direction: row;
      padding-left: 30px;
    }
  }

  &__btn-menu {
    top: 15px;
    left: 0;
    display: table;
    margin: 0 auto;
    position: absolute;
    width: 16px;
    height: 12px;
    z-index: 30;

    &.active {
      span {
        &:nth-child(1) {
          top: 1px;
          transform: rotate(-45deg);
          background-color: #000;
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          top: 1px;
          transform: rotate(45deg);
          background-color: #000;
        }
      }
    }

    span {
      @include trs;
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 2px;
      z-index: 15;
      background-color: #000;
      &:nth-child(2) {
        top: 5px;
      }
      &:nth-child(3) {
        top: 10px;
      }
    }
  }

  &__nav,
  .main_menu,
  .ankor_menu {
    display: flex;
    align-items: center;
  }

  &__nav-list,
  .ankor_menu-list {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 45px;
    @include b(tablet) {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      justify-content: start;
      align-items: flex-start;
      padding: 0 15px;
    }
  }

  &__logo {
    display: inline-block;
    @include b(tablet) {
      display: none;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__nav-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    position: relative;
    text-align: center;
    @include b(tablet) {
      text-align: start;
    }
    z-index: 5;
    &:last-child {
      margin-right: 0;
    }
    a {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
      @include b(tablet) {
        display: block;
      }
    }

    @include b(tablet) {
      margin-bottom: 24px;
      font-size: 18px;
      font-weight: 500;
      width: 100%;
    }
  }

  .main_menu-parent {
    position: relative;
    z-index: 100;
    &::before {
      content: "";
      position: absolute;
      z-index: 200;
      top: 4px;
      right: -15px;
      width: 8px;
      height: 8px;
      border-bottom: 2px solid #3c474c;
      border-left: 2px solid #3c474c;
      transform: rotate(-45deg);
      transition: all 0.3s;
      cursor: pointer;
      @include b(tablet) {
        right: 0;
      }
    }

    &.active {
      &.main_menu-parent::before {
        transform: rotate(-230deg);
        top: 6px;
      }
    }
  }

  ul.level_0 {
    padding: 34px 12px 12px 12px;
    position: absolute;
    top: -10px;
    left: -12px;
    right: 0;
    overflow: hidden;
    opacity: 0;
    display: none;
    z-index: 5;
    background: #ffffff;
    box-shadow: 0px 3px 10px rgba(183, 183, 183, 0.25);
    border-radius: 8px;
    width: 200px;
    transition: all 0.3s;
    @include b(tablet) {
      padding-top: 40px;
      padding-left: 32px;
      width: 100%;
      box-shadow: none;
    }
    li {
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      color: #30394a;
      margin-bottom: 8px;
      @include b(tablet) {
        font-size: 18px;
        margin-bottom: 24px;
      }
    }
    &.active {
      display: block;
      opacity: 1;
      overflow: visible;
    }
  }

  &__language {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-weight: 500;
    z-index: 4;
    
    @include b(1550) {
      right: 15px;
    }
    @include b(mobile) {
      right: 45px;
    }
    @include b(500) {
      right: 15px;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0.5px solid rgba(164, 168, 175, 0.5);;
      border-radius: 100px;
      padding: 6px;
    }
    li {
      font-size: 12px;
      line-height: 12px;
      cursor: pointer;
      text-transform: uppercase;
      padding: 6px 0;
    }
  }

  &__language-items {
    a {
      padding: 6px 12px;
    }
    
    .open-lang {
      background-color: #5A308D;
      color: #fff;
      border-radius: 100px;
    }
  }
}
