.section-title {
  text-align: center;
}

.why_digitalbank {
  padding-bottom: 100px;
  @include b(500) {
    padding-bottom: 0;
  }
  .section-title {
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    @include b(500) {
      font-weight: 500;
      font-size: 36px;
      line-height: 43px;
    }

    span {
      font-size: 43px;
      font-weight: 500;
      @include b(mobile) {
          font-size: 32px;
      }
    }
  }
  .info_block_popup__wrapper {
    display: flex;
    justify-content: center;
    max-width: 961px;
    width: 100%;
    margin: auto;
    @include b(mobile) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 100px;
    }
  }
  .info_blok_popup {
    &__item {
      position: relative;
      width: 33.3333%;
      padding: 0 10px 0 40px;
      text-align: start;
      @include b (mobile) {
        width: 100%;
        margin-bottom: 100px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &__title {
      font-weight: 700;
    }
    &__image {
      position: absolute;
      top: 50%;
      transform: translate(-30%, -50%);
      width: 120px;
      height: 120px;
    }
  }
}

.how_to_install {
  .section-title {
    max-width: 852px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .info_block_popup__wrapper {
      display: flex;
      justify-content: space-evenly;
      padding-bottom: 89px;
      @include b(mobile) {
        flex-direction: column;
      }
    }

    .info_blok_popup__title {
      font-size: 16px;
      line-height: 18px;
      display: block;
      max-width: 216px;
    }

    .info_blok_popup {
    &__item {
      // width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
      @include b(mobile) {
        width: 100%;  
        margin-bottom: 40px;      
      }
    }
    &__image {
      width: 120px;
      height: 120px;
      margin: 0 auto;
      margin-bottom: 20px;
      
    }
  }
}
