.info_block_image {
  background-color: #F2F2F7;
  padding: 64px 15px;

  ul {
    display: flex;
    gap: 32px
  }

  li {
    width: 20%;
    border-radius: 16px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 16px;
    align-items: center;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 64px;
  }

  &__icon {
    width: 64px;
    height: 64px;
    display: flex;
    color: #fff;
    font-size: 21px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #141414;
  }

  &__description {
    color: #1E1E1E;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
  }

  @include b(1366) {
    padding: 32px 15px;
    ul {
      gap: 16px
    }
  }
  @include b(1024) {
    li {
      gap: 8px;
      padding: 12px 8px;
    }
  }
  @include b(768) {
    padding-top: 15px;
    ul {
      flex-wrap: wrap;
      justify-content: center;
    }
    li {
      width: 33%;
    }
  }
  @include b(480) {
    ul{
      flex-direction: column;
    }
    li {
      width: 100%
    }
  }
}
