.kartinka_tekst {
  &__wrapper {
    max-width: 1242px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    @include b(mobile) {
      flex-direction: column;
    }
  }
  &__image {
    @include b(mobile) {
      width: 100%;
    }
  }
  &__description {
    width: 55%;
    @include b(mobile) {
      width: 100%;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 24px;
  }
}

.tekst_kartinka {
  &__wrapper {
    max-width: 1242px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    @include b(mobile) {
      flex-direction: column;
    }
  }

  &__description {
    width: 62%;
    @include b(mobile) {
      width: 100%;
    }
  }
    &__image {
      width: 467px;

      @include b(mobile) {
        width: 100%;
      }
    }
}

.text_area {
  &__text {
    font-size: 18px;
    line-height: 24px;
    color: #30394A;
  }
}



.hero {
  &#fb373c4a-7423-4f04-9d0a-5fecef38aaaf{
    .image_qrcode {
      &__wrapper{
        max-width: unset;
        margin-top: 15px;
        @include b(tablet) {
          flex-direction: column;
        }
      }
      &__item {
        margin-right: 29px;

        width: auto;
      }
      .qr_code {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
      }

    }
    .download {
      width: 192px;
      height: 48px;
      background-color: #000;
      border-radius: 4px;
      img {
        object-fit: contain;
        max-width: 147px;
        max-height: 38px;
      }
      @include b(tablet) {
        width: 290px;
        height: 48px;
        &:last-child {
          width: 290px;
        }
        &:first-child {
          margin-bottom: 16px;
          margin-right: 0;
        }
      }
      .download_googlePlay {
        width: 199px;
      }
    }
  }
    padding-top: 75px ;
    padding-bottom: 64px;
    height: 100%;
    .kartinka_tekst__image {
      max-width: 467px;
    }
    .section-title {
      font-size: 60px;
      font-weight: 700;
      text-align: end;
      max-width: 1024px;
      margin: 0 auto;
      padding: 0 15px;
      margin-bottom: 30px;
      @include b(mobile) {
        display: none;
      }
    }
    @include b(mobile) {
      height: 100%;
      padding-top: 100px;
    }
    .text_area__text {
      margin-bottom: 17px;
      font-size: 24px;
      line-height: 28px;
      @include b(500) {
        font-size: 16px;
        line-height: 19px;
    }
    }
    .kartinka_tekst{
      &__titleWrapp {
        display: flex;
        @include b(mobile) {
          flex-direction: column;
        }
        p {
          font-weight: 500;
          display: flex;
          font-size: 16px;
          flex-direction: column;
          margin: 20px 22px 23px 0;
          strong {
              font-weight: 600;
              font-size: 24px;
          }
          @include b(mobile) {
            margin: 16px 0 11px 0;
            &:last-child {
              margin: 0;
            }
          }
        }

      }

      &__text {
        display: flex;
        flex-direction: column;
        padding: 0 35px;
        @include b(mobile) {
          padding: 0;
        }
      }
    }
    .responsive_caption {
      font-size: 60px;
      font-weight: 700;
      margin-bottom: 25px;
      @include b(mobile) {
        order: -1;
        font-size: 36px;
        line-height: 49px;
        font-weight: 500;
        color: #30394a;
        margin: 0 0 30px;
        text-align: center;
      }
      @include b(500) {
        line-height: 43px;
      }
    }
    .image_qrcode {

      &__wrapper{
        display: flex;
        width: 100%;
        max-width: 447px;
        position: relative;
        margin-top: 10px;
        padding: 0 15px;
        gap: 10px;
        @include b(mobile) {
          margin: 10px auto;
        }
        @include b(480) {
          flex-direction: column;
        }
      }
      &__item{
        width: 100%;
        @include b(mobile) {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
      &__title{
        max-width: 443px;
        font-weight: 500;
        padding-top: 17px;
        margin-bottom: 20px;
        position: relative;
        color: #30394a;
        line-height: 18px;
        @include b(mobile) {
          order: -1;
          max-width: 100%;
          text-align: center;
        }
        @include b(500) {
          padding-top: 0;
          margin-bottom: 42px;
        }
      }
    }

    .subtitle {
      font-size: 21px;
      font-weight: 500;
      @include b(mobile) {
        margin: 0 auto;
      }
    }
    .qr-code {
      max-width: 447px;
      @include b(mobile) {
        display: none;
      }
    }
    .body-text {
      display: flex;
      margin: 20px 0;
      @include b(mobile) {
        margin: 20px auto;
      }
      @include b(480) {
        flex-direction: column;
      }
      &>div {
        width: 100%;
        max-width: 194px;
        strong {
          font-size: 20px;
        }
      }
    }

    .download {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }
}


.service_information, .products_tabs__wrapper{
  padding-top: 130px;
  padding-bottom: 120px;
  @include b(mobile) {
    padding-bottom: 20px;
    padding-top: 67px;
  }

  .kartinka_tekst__image, .tekst_kartinka__image {
    width: 61%;
    max-width: 800px;
    max-height: 833px;
    @include b(mobile) {
      width: 100%;
    }
    @include b(500) {
        max-width: 100%;
        max-height: 100%;
    }
  }
  .kartinka_tekst__description, .tekst_kartinka__description {
    width: 39%;
    @include b(mobile) {
      width: 100%;
    }
  }
  .text_area__text {
    @include b(mobile) {
      text-align: justify;
    }
    strong {
      margin-bottom: 25px;
      display: block;
    }
  }
  .text_area__wrapper {
    @include b(mobile) {
    }
  }

  .text_area__text {
    strong {
      @include b(500) {
          text-align: center;
      }
    }
  }

  .kartinka_tekst {
    &__wrapper {
      justify-content: flex-start;
      margin-bottom: -59px;
      @include b(tablet) {
        margin-bottom: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      @include b(mobile) {
        padding-bottom: 40px;
        padding-top: 40px;
        margin-bottom: 0;
      }
    }
    &__description {
      display: flex;
      flex-direction: column;
      margin-left: 80px;
      @include b(mobile) {
        margin-left: 0;
      }
    }
    &__title {
      max-width: 610px;
      position: relative;
      padding-top: 30px;
      display: block;
      margin-bottom: 24px;
      font-weight: 700;
      font-size: 60px;
      color: #30394A;
      line-height: 72px;
      @include b(tablet) {
        font-size: 40px;
        line-height: 1.25;
    }
      @include b(mobile) {
        font-size: 32px;
        line-height: 30px;
        max-width: 100%;
      }
      @include b(500) {
        text-align: center;
        font-size: 26px;
        line-height: 30px;
      }
    }
  }
  .tekst_kartinka {
    &__wrapper{
      justify-content: space-between;
      margin-bottom: -59px;
      @include b(tablet) {
        margin-bottom: 0;
      }
      @include b(mobile) {
        flex-direction: column-reverse;
        padding-bottom: 40px;
        padding-top: 40px;
        margin-bottom: 0;
      }
    }
    &__description {
      display: flex;
      flex-direction: column;
      margin-left: 80px;
      @include b(mobile) {
        margin-left: 0;
      }
    }
    &__title {
      position: relative;
      padding-top: 30px;
      display: block;
      margin-bottom: 24px;
      font-weight: 700;
      font-size: 60px;
      color: #30394A;
      line-height: 72px;
      @include b(tablet) {
          font-size: 40px;
          line-height: 1.25;
      }
      @include b(mobile) {
        font-size: 32px;
        line-height: 30px;
      }
      @include b(500) {
        text-align: center;
        font-size: 26px;
        line-height: 30px;
      }
    }
  }
}

.download_mobile_app {
  padding:15px 0;
  .tekst_kartinka {
    &__wrapper {
      display: flex;
      justify-content: center;
      width: 100%;
      border-bottom: 1px solid #F98972;
      padding-bottom: 15px;
      @include b(mobile) {
        padding: 30px 0;
      }
    }
    &__description {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      @include b(mobile) {
        flex-direction: column;
      }
    }
    &__image {
      width: auto;
    }
  }
  .text_area__wrapper {
    display: flex;
    justify-content: center;
    width: 33.3333%;
    @include b(mobile) {
      width: 100%;
      &:nth-child(2) {
        order: -1;
      }
    }
  }
  .text_area__text {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include b(mobile) {
      width: 100%;
      &:nth-child(2) {
        order: -1;
        margin-bottom: 30px;
      }
      &:first-child {
        margin-bottom: 21px;
      }
    }
  }
  .text_area__title{
    max-width: 100%;
    text-align: center;
    font-size: 16px;
    font-family: "Roboto";
    line-height: 19px;
  }
  .qr_code {
    max-width: 100px;
    @include b(mobile) {
      display: none;
    }
  }
  .download {
    max-width: 148px;
    @include b(mobile) {
      max-width: 199px;
      max-height: 48px;
    }
  }
}


.deposit_download-img {
  display: flex;
  flex-direction: column;
  .container {
    padding: 0;
    max-width: 100%;
    margin: 0;
  }
  .section-title {
    display: none;
  }
  .kartinka_tekst__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .kartinka_tekst__image {
    width: auto;
    max-width: 470px;
    max-height: 827px;
    img {

      object-fit: cover;
    }
  }
  .kartinka_tekst__description {
    display: none;
    width: 0;
  }
}

.safe_pay {
    .container {
      max-width: 1450px;
    }
    .kartinka_tekst__images {
      max-width: 560px;
    }
    .section-title {
      display: none;
      @include b(tablet) {
          display: block;
          font-size: 40px;
          margin-bottom: 30px;
          line-height: 1.25;
      }
    @include b(mobile) {
        font-size: 36px;
    }
    }
    .paragraph-title {
        font-size: 60px;
        line-height: 1.25;
        font-weight: 700;
        margin-bottom: 20px;
        display: block;
        @include b(tablet) {
            display: none;
        }
    }

    .title_safe_wrap {
        margin-bottom: 40px;
    }

    .title_safe {
        max-width: 586px;
        line-height: 1.5;
    }

    .kartinka_tekst__description {
       padding-top: 45px;
    }

    .title_warning {
        line-height: 1.5;
        font-weight: 700;
        margin-bottom: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 571px;
        @include b(tablet) {
            max-width: 100%;
        }
        &:last-child {
          margin-bottom: 0;
        }
        &:before {
          content: '';
          background: url(/assets/img/svg/warning.svg);
          background-repeat: no-repeat;
          background-size:cover;
          display: block;
          min-width: 18px;
          height: 18px;
          margin-right: 11px;
          margin-top: 5px;


        }
    }
}

.how_pay {
  padding-bottom: 129px;
  .container {
    max-width: 1261px;
  }
  .section-title {
    display: none;
    @include b(tablet) {
        display: block;
        font-size: 40px;
        line-height: 1.25;
    }
    @include b(mobile) {
      display: block;
      width: 100%;
      font-size: 36px;
      line-height: 1.2;
    }
  }
  .lending_sense__item {
    padding-left: 12px;
    border-top: 1px solid rgba(48, 57, 74, 0.07);
    @include b(mobile) {
        height: 100%;
        padding: 12px 0;
    }
  }
  .tekst_kartinka__title {
    line-height: 1.25;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 24px;
    display: block;
    @include b(tablet) {
        font-size: 40px;
        display: none;
    }
    @include b(mobile) {
       font-size: 36px;
       text-align: center;
    }

  }
  .tekst_kartinka__wrapper {
    justify-content: space-between;
    @include b(1372) {
      justify-content: flex-start;
    }
    @include b(tablet) {
      justify-content: space-between;
    }
    @include b(mobile) {
        flex-direction: column-reverse;
      justify-content: flex-start;

    }
  }
  .tekst_kartinka__description {
    width:66%;
    @include b(tablet) {
      width: 61%;
    }
    @include b(mobile) {
        width: 100%;
    }

    .text_area__text {
      &.full_html  {
        > p {
          font-size: 24px;
          line-height: 1.25;
          font-family: 'Cera Pro';
          font-weight: 400;
          margin-bottom: 24px;

          @include b(mobile) {
            font-size: 18px;
          }
        }
      }
    }
  }
  .tekst_kartinka__image {
    width: 34%;
    display: flex;
    justify-content: flex-end;
    margin-right: -52px;
    @include b(tablet) {
        width: 39%;
        margin-right: -20px;
    }
    @include b(mobile) {
        width: 100%;
        margin-right: 0;
        justify-content: center;
    }
  }
  .kartinka_tekst__icon {
    margin-right: 32px;
    img {
      width: 40px;
      height: 40px;
    }
  }
  .tekst_kartinka__images {
    max-width: 391px;
    max-height: 730px;
  }
  .lending_sense__list {
    @include b(500) {
      display: block;
    }
  }
}


