.lending_sense {
  &__wrapper {
    display: flex;
    justify-content: center; 
    @include b(tablet) {
      flex-direction: column-reverse;
    }
    .slick-slide {
      overflow: hidden;
    }
    .slick-slider {
      max-width: 395px;
      width: 100%;
      max-height: 740px;
      overflow: hidden;
      // position: relative;
      // z-index: 4;
      @include b(500) {
        max-height: unset;
      }

      .lending_sense__item {
        display: none;
        padding-left: 12px;
        @include b(500) {
          display: flex;
          padding-left: 0;
          margin: 0 5px;
          height: 100%;
        }
      }

      @include b(tablet) {
        max-width: unset;
        .lending_sense__images{
          max-width: 320px;
          @include b(mobile){
            max-width: 406px;
          }
          @include b(500){
            max-width: 100%;
          }
        }
      }
      .slick-list {
        @include b(mobile) {
            margin: 0 -45px;
        }
      }
    }

    .slick-list , .slick-slider {
      @include b(tablet) {
          overflow: visible;
      }
      @include b(500) {
          overflow: hidden;
      }
    }

    .slick-dots {
      bottom: 0;
      position: relative;
      .slick-active {
        background-color: #D6B1FF;
      }
      li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #F4EAFF;

        button {
          &:before {
            content:'';
            display: none;
          }
        }
      }
    }

    .kartinka_tekst__icon {
      margin-right: 35px;
      img {
        width: 40px;
        height: 40px;
      }
    }

    .kartinka_tekst__image {
      max-width: 467px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    max-width: 727px;

    @include b(500){
      display: none;
    }
  }
  &__item {
    display: flex;
    height: 88px;
    align-items: center;
    border-top: 1px solid rgba(48, 57, 74, 0.07);
    cursor: pointer;
    &:last-child {
      border-bottom: 1px solid rgba(48, 57, 74, 0.07);
    }

    @include b(500) {
      border-top: none;
    }

    span {
      color: #6d788e;
      &.active {
        color: #30394a;
      }
    }
  }

  &__content {
    padding-top: 40px;
    margin-left: 70px;
    @include b(tablet) {
      margin-left: 0;
      padding-top: 0;
    }
    @include b(mobile) {
    }
    > span {
      max-width: 580px;
      font-size: 24px;
      line-height: 27px;
      color: #30394a;
      margin-bottom: 32px;
      display: block;
    }
  }

  &.home_slider {
    padding-bottom: 139px;
    @include b(tablet) {
        padding-bottom: 60px;
    }
    .lending_sense {
        &__images {
          @include b(tablet) {
            padding-top: 24px;
          }
          img {
            max-width: 400px;
            max-height: 700px;

            @include b(tablet) {
                max-height: 548px;
            }

            @include b(500) {
                max-height: 420px;
            }
          }
        }
    }
  }
}


.pay_slider {
    margin-bottom: 143px;
    @include b(tablet) {
      padding: 0 45px;
    }
    @include b(mobile) {
        padding: 0 15px;
    }
    .lending_sense__wrapper {
      .slick-slide {
        img {
          max-width: 390px;
          max-height: 730px;
          margin-left: 34px;
          @include b(tablet) {
              margin-left: 0;
          }
        }
      }
    }
}
