.not_found {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    img {
        max-width: 360px;
        max-height: 244px;
        margin-bottom: 43px;
    }
    p {
        font-family: 'Roboto';
        font-size: 16px;
        line-height: 19px;
        color: #30394A;
    }
}