.paragraf_blok {
  padding: 15px 0;
}

.bg-3F3188 {
  background-color: #3F3188;
  .kartinka_tekst__image {
    max-width: 426px;
  }
  .kartinka_tekst__description {
    max-width: 642px;
    h3 {
      color: #fff;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 42px;
    }
    a {
      border-radius: 8px;
      background: #FF3494;
      display: flex;
      min-height: 24px;
      padding: 16px 24px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex: 1 0 0;
      color: #FFF;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      max-width: 426px;
      transition: .2s ease-in-out;
      &:hover {
        background-color: #fff;
        color: #3F3188;
      }
    }
  }
}

.customer_support {
  position: relative;
  padding-bottom: 110px;

  &__feedback{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 58px;
    @include b(400) {
      margin-right: 30px;
    }
    &:nth-child(2) {
      margin-right: 0;
      :before {
      background: url(/assets/img/svg/telegram-teh.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 60px;
      height: 60px;
      }
    }
  }

  &__icon{
    background-color: #F9F1FF;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    margin-bottom: 24px;
    &:before {
      content: '';
      display: block;
      width: 50px;
      height: 50px;
      background: url(/assets/img/svg/viber-teh.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .section-title {
    font-size: 60px;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 40px;
    @include b(mobile) {
      font-size: 32px;
    }
  }
  .tekst_kartinka {
    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__description {
      width: 100%;
      display: flex;

      @include b(mobile) {
        display: flex;
        flex-direction: column;
      }
    }

    &__image {
      width: auto;
    }
  }
  .text_area__wrapper {
    display: flex;
    width: 50%;
    @include b(mobile) {
      width: 100%;
    }
  }
  .text_area__text {
    width: 100%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include b(mobile) {
      width: 100%;
      &:first-child {
        margin-bottom: 15px;
      }
    }

    span {
      background-color: #F9F1FF;
      padding: 9px 35px;
      border: 1px solid #f5f5f5;
      border-radius: 20px;
        a {
          color: #8E60B5;
          font-weight: 600;
        }
    }
  }
  // .popup_viber {
  //   display: none;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   z-index: 100;
  //   width: 100%;
  //   height: 100%;
  //   background-color:rgba(82, 71, 95, 0.35);
  // }
  // .popup_inner {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   width: 100%;
  //   height: 100%;
  // }
  // .qr_code {
  //   padding: 37px 52px;
  //   background-color: #fff;
  //   position: relative;
  //     &:before, &:after {
  //     content:'';
  //     position: absolute;
  //     top: 27px;
  //     right: 27px;
  //     width: 2px;
  //     height: 17px;
  //     background-color: #30394A;
  //     transform: rotate(-45deg);
  //     cursor: pointer;
  //     }
  //     &:after {
  //     content:'';
  //     transform: rotate(45deg);
  //     }
  //   img {
  //     width: 420px;
  //     height: 420px;
  //   }
  // }
  // .title {
  //   color: #000;
  //   display: none;
  // }
}

.main_advantages {
  padding-bottom: 35px;
  .section-title {
    margin-bottom: 40px;
  }
  .tekst_kartinka {
    &__description {
      width: 100%;
    }
    &__wrapper {
      display: flex;
      align-items: flex-start;
      flex-direction: row-reverse;
      max-width: 550px;
      margin: 0 auto 79px;
      padding: 0;
      &:nth-child(4) {
        margin-bottom: 50px;
      }
      @include b(mobile) {
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
      }
    }

    &__title{
      font-weight: 500;
      line-height: 28px;
      font-size: 24px;
      margin-bottom: 12px;
      display: block;
    }
    &__image {
      margin-right: 56px;
      width: 100px;
      height: 100px;
      flex: 0 0 100px;
      @include b(mobile) {
        margin-right: 0;
        margin-bottom: 30px;
      }
    }

  }
  .text_area__text {
    line-height: 20px;
    @include b(mobile) {
      text-align: center;
      max-width: 100%;
    }
  }
  .kartinka_tekst__image {
    width: auto;
  }
}

.deposit_advantages, .deposit_advantages_ocard {
  .kartinka_tekst__inner {
    display: flex;
    justify-content: space-between;
    @include b(tablet) {
      flex-wrap: wrap;
    }
    @include b(500) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
    }
  }
  .section-title {
    @include b(500) {
      font-size: 36px;
      margin-bottom: 28px;
      line-height: 43px;
    }
  }
  .tekst_kartinka {
    &__description {
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &__title {
      font-weight: 500;
      line-height: 28px;
      font-size: 24px;
      display: block;
      margin-bottom: 16px;
      @include b(tablet) {
        font-size: 22px;
        line-height: 26px;
      }
    }
  }

  .kartinka_tekst__wrapper {
    display: none;
  }
  .kartinka_tekst__image {
    width: auto;
  }
}


.deposit_advantages {
  background-color: #F9F9FF;
  padding: 80px 0;
  margin-top: 105px;
  margin-bottom: 120px;
  @include b(tablet) {
    margin-bottom: 80px;
    padding: 48px 0 42px 0;
  }
  @include b(mobile) {
    padding: 32px 0;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .section-title {
    margin-bottom: 40px;
  }
  .tekst_kartinka {
    &__wrapper {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: flex-start;
      width: 25%;
      @include b(tablet) {
        width: 50%;
        max-width: 334px;
        margin-bottom: 32px;
      }
      @include b(500) {
        width: 100%;
      }
    }
    &__image {
      width: 100px;
      height: 100px;
      flex: 0 0 100px;
      margin-bottom: 32px;
    }

    &__title{
      text-align: center;
    }
  }
  .text_area__wrapper {
    display: flex;
    justify-content: center;

  }
  .text_area__text {
    max-width: 336px;
    line-height: 20px;
    text-align: center;
    @include b(500) {
      max-width: 100%;
    }
  }
}

.deposit_advantages_ocard{
  padding: 50px 0 44px;
  @include b(tablet) {
      padding: 48px 0 42px 0;
  }
  @include b(mobile) {
    padding: 32px 0;
  }
  .kartinka_tekst__inner {
    column-gap: 20px;
  }
  .section-title {
    margin-bottom: 70px;
  }
  .tekst_kartinka {
    &__wrapper {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      background: #F2F2F7;
      border-radius: 20px;
      max-width: 358px;
      width: 100%;
      height: 256px;
      padding: 40px;
      @include b(tablet) {
          width: 50%;
          max-width: 334px;
          margin-bottom: 32px;
      }
      @include b(500) {
        width: 100%;
      }
    }
    &__image {
      width: 80px;
      height: 80px;
      margin-bottom: 20px;
    }

  }
  .text_area__wrapper {
    display: flex;
  }
  .text_area__text {
    max-width: 336px;
    line-height: 20px;
    @include b(500) {
      max-width: 100%;
    }
  }
}

.about_digital_bank {
  background: #F9F9FF;
  padding: 77px 0 42px 0;
  h3 {
    margin-bottom: 28px;
    text-align: start;
    line-height: 62px;
    @include b (tablet) {
      padding: 0;
      font-size: 36px;
      line-height: 43px;
      text-align: center;
    }
  }

  &__caption {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 16px;
    @include b(tablet) {
      font-size: 18px;
    }
  }
  &__descr{
    max-width: 400px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    @include b(tablet) {
      font-size: 18px;
    }
  }
  .tekst_kartinka {
    &__wrapper {
      max-width: 1342px;
      margin-left: 173px;
      @include b(tablet) {
        margin-left: 0;
        max-width: 100%;
      }
    }
    &__description {
      display: flex;
      width: 100%;
      @include b(tablet) {
        flex-direction: column;
        align-items: center;
      }
    }
    &__image {
      width: auto;
    }
  }
  .text_area__wrapper {
    margin-bottom: 20px;
    &:first-child {
      width: 40%;
      margin-right: 43px;
      @include b(tablet) {
        width: 100%;
        margin-right: 0;
        padding-bottom: 0;
        h3 {
          margin-bottom: 0;
        }
      }
    }
    &:last-child {
      width: 60%;
      padding-top: 10px;
    }
    @include b(tablet) {
      max-width: 100%;
      width: 100%;
      padding-bottom: 30px;
      &:last-child {
        padding-top: 30px;
        width: 100%;
      }
    }
    &:last-child {
      margin-right: 0;
      padding-bottom: 0;
    }
  }
  .text_area__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      @include b(tablet) {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        align-items: center;
        &:last-child {
          margin-bottom: 0;
        }
      }


    &:last-child {
      margin-right: 0;
    }
  }
}

.deposit_just-download {
  position: relative;
  .section-title {
    text-align: left;
    @include b(tablet) {
        display: none;
    }
    @include b(mobile) {
      font-size: 40px;
      line-height: 48px;
    }
    @include b(500) {
        display: none;
    }
  }

  .container {
    max-width: 100%;
    margin:0;
    padding: 0;
  }
  .tekst_kartinka__image {
    display: inline-block;
    width: 80px;
  }
  .tekst_kartinka__images {
    img {
      height: 114px;
    }
  }
  .text_area__text {
    max-width: 380px;
    position: relative;
  }
  .tekst_kartinka__description {
    margin-left: -20px;
  }
  .tekst_kartinka__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 40px;
    flex-direction: row-reverse;
    @include b(tablet) {
    }
  }
}

.pay_symbol {
  background-color: #F9F3FF;
  padding: 104px 0 132px 0;
  margin-bottom: 150px;
  @include b(tablet) {
    padding: 83px 0 120px 0;
    margin-bottom: 75px;
  }
  @include b(mobile) {
    padding: 48px 0 54px 0;
    margin-bottom: 37px;
  }

  .sumbol_title {
      font-weight: 700;
      font-size: 50px;
      line-height: 1.25;
      max-width: 616px;
      letter-spacing: 1px;
      @include b(tablet) {
          max-width: 100%;
          text-align: center;
          letter-spacing: 0px;
          margin-bottom: 63px;
      }
      @include b(mobile) {
          font-size: 24px;
          margin-bottom: 49px;
      }
  }

  .tekst_kartinka__image {
    display: none;
  }
  .tekst_kartinka__description {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 93px 0 140px;
    @include b(tablet) {
        flex-direction: column;
        padding: 0 78px 0 78px;
    }
    @include b(tablet) {
        padding: 0 0px 0 0px;
    }
  }

  .text_area__text {
    display: flex;
    @include b(mobile) {
        flex-direction: column;
        align-items: center;
    }
    .img_nfc {
        width: 211px;
        height: 124px;
        margin-right: 98px;
        @include b(mobile) {
            margin-right: 0;
            margin-bottom: 56px;
        }
    }
    .img_pay {
        width: 195px;
        height: 124px;
    }
  }
}

.deposit_title {
  display: none;
  padding: 0;
  @include b(tablet) {
      display: block;
      padding-bottom: 30px;
      padding: 0 15px 30px 15px;
  }
  @include b(mobile) {
      padding-bottom: 21px;
  }
  .section-title {
    margin: 0;
    font-size: 40px;
    line-height: 1.25;
    @include b(mobile) {
      display: block;
      width: 100%;
      font-size: 36px;
      line-height: 1.2;
    }
  }
}
