.popup{
    &__modal{
        position: fixed;
        top: 0;
        left: -100%;
        right: 0;
        background-color: #fff;
        z-index: 99;
        width: 100%;
        height: 100%;
        transition: all 0.3s;
        overflow: auto;
        &.active {
        left: 0;
        }
    }
    &__close-btn{
        &::after,
        &::before {
        content: "";
        position: absolute;
        z-index: 300;
        top: 40px;
        right: 40px;
        width: 4px;
        height: 40px;
        background-color: #a4a8af;
        transform: rotate(45deg);
        cursor: pointer;
    }
        &::before {
        transform: rotate(-45deg);
        }
    }
    &__modal-wrap{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-top: 80px;
        width: 100%;
        position: relative;
    }

}

.popup {
    &__preview {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: -200%;
        z-index: -1;
        opacity: 0;
        transition: all .3s ease;
        background-color: rgba(0, 0, 0, .5);
        overflow: auto;
        padding: 0 10px;
        padding-top: 10px;
        &.active {
            z-index: 100;
            opacity: 1;
            bottom: 0;
        }
    }

    &__wrapper{
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__inner{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        padding: 64px 54px;
        position: relative;
        @include b(mobile) {
            padding: 12px 28px 67px 28px;
        }
        .popup_close {
            display: block;
            width: 18px;
            height: 18px;
            position: absolute;
            top: 27px;
            right: 20px;
            z-index: 100;
            cursor: pointer;
            &:before , &::after {
              content:'';
              position: absolute;
              top: 8px;
              left: 0;
              display: inline-block;
              width: 15px;
              height: 1px;
              background-color: #30394A;
              transform: rotate(45deg);
            }
            &::after {
              transform: rotate(-45deg);
            }
          }
    }

    &__images {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 48px;
        padding: 0 36px;
        @include b(mobile) {
            justify-content: flex-start;
            flex-direction: column;
            margin-bottom: 41px;
        }
    }

    &__logo{
        width: 146px;
        @include b(mobile) {
            margin-bottom: 17px;
        }
    }

    &__img{
        width: 153px;
        height: 153px;
    }

    &__text {
        max-width: 400px;
        text-align: center;
        line-height: 22px;
        color: #30394A;
        margin-bottom: 48px;
        @include b(mobile) {
            margin-bottom: 27px;
            line-height: 1.2;
            font-size: 14px;
        }
    }

    &__btn {
        width: 171px;
        height: 48px;
        color: #fff;
        line-height: 21px;
        background-color: #FF3494;
        border-radius: 12px;
        transition: background-color .2s linear;
            &:hover {
                background-color: darken( #FF3494, 10%);
            }
         &.active {
             display: none;
         }
    }
}

.FormaNaBannerPopup__modal {
    background-color: transparent;
}

.FormaNaBannerPopup__close-btn ,.qr__close-btn{
    display: none;
}

.qr__modal {
    background-color: rgba(0, 0, 0, 0.70);
}

.file--file {
    &__wrapper{}
    &__application{
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        line-height: 30px;
        a {
            color: #cc2d78;
            text-decoration: underline;
          }
    }
}

.file--file__pdf ,
.file--file__vnd {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &:before {
        content: '';
        background: url(/assets/img/svg/pdf_file.svg);
        background-size:contain;
        background-repeat: no-repeat;
        min-width: 40px;
        min-height: 40px;
        margin-right: 8px;
    }
}

.file--file__vnd {
    &:before {
        content: '';
        background: url(/assets/img/svg/xl_file.svg);
        background-size:contain;
        background-repeat: no-repeat;
    }
}

.file {
    &__wrapper{}
}



