.PopupFilesBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 15px;
  @include b(480){
    flex-direction: column;
  }

  &_title {
    font-size: 32px;
    line-height: 42px;
    color: #141414;
    font-weight: 700;
    padding: 16px 0;
  }

  &_button {
    padding: 16px 24px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #000;
    width: 100%;
    font-weight: 700;
    text-align: center;
    max-width: 320px;
    transition: background-color .3s ease-in;
    &:hover {
      background-color: #c6c6c6;
    }
  }
}

.popup__modal.filesBlock__modal {
  background-color: rgba(0, 0, 0, 0.7);
  .filesBlock__close-btn {
    display: none;
  }
  .filesBlock__content {
    padding: 24px;
    margin-right: auto;
  }
  .file--file__wrapper {
    margin-bottom: 30px;
  }
}
