.table {
  padding-top: 120px;
  @include b(tablet) {
      padding: 80px 0 0 0;
  }
  @include b(500) {
    padding-top: 50px;
  }
  &__wrap {
    text-align: center;
  }

  &__responsive_td {
    display: none;
    span {
      display: block;
    }
    @include b(mobile) {
      display: none;
    }
  }

  .section-title {
    margin-bottom: 25px;
    @include b(500) {
      line-height: 43px;
      font-size: 36px;
    }
  }

  &__btn {
    display: none;
    background: #DB6088;
    border-radius: 50px;
    padding: 11px 39px;
    text-transform: uppercase;
    font-family: 'Roboto';
    text-align: center;
    margin-bottom: 56px;
    a {
      font-size: 16px;
      width: 100%;
      color: #fff;
    }
    @include b(mobile) {
      display: inline-block;
    }
  }

  &__caption {
    text-align: center;
    h3 {
      margin-bottom: 63px;
    }
  }

  &__btn-responsive {
    display: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 44px;
    @include b(mobile) {
      display: flex;
    }

    a {
      background-color: #db6088;
      border-radius: 100px;
      padding: 10px 38px;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 12px;
      max-width: 210px;
    }
  }

  &__table-wrap {
    margin-bottom: 8px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 232px;
      height: 100%;
      z-index: -1;
      border-radius: 40px;
      border: 2px solid #e976ac;
      background: rgba(233, 118, 172, 0.9);
      box-shadow: 0px 4px 8px rgba(112, 112, 112, 0.15);
      @include b(mobile) {
        background: none;
        box-shadow: none;
        border: none;
      }
    }

    table {
      text-align: left;
      p {
        margin-top: 10px;
      }

    }

    thead {
      text-align: center;
      @include b(mobile) {
        display: none;
      }
    }
    tr {
      height: 82px;
      vertical-align: middle;
      &:nth-last-child(2) {
        td {
          border: none;
        }
      }
      @include b(1550) {
        height: 50px;
      }
      &:first-child {
        height: 0;
      }
      @include b(500) {
        &:last-child {
          display: none;
        }
      }
    }
    th {
      vertical-align: middle;
      width: 22%;
      height: 70px;
      font-weight: 700;
      font-size: 22px;
      &:last-child {
        border: none;
      }
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        text-align: center;
      }

      &:last-child:before {
        content: "";
        display: block;
        width: 230px;
        height: 34px;
        background-image: url(/assets/img/svg/Logo_svg.svg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin: 0 auto;
        @include b(mobile) {
          display: none;
        }
      }
    }
    td {
      border-bottom: 1px solid #f3f3f3;
      width: 20%;
      vertical-align: middle;
      padding: 16px 0;
      @include b(1550) {
        font-size: 16px;
      }
      span {
        font-weight: 700;
        &:last-child {
          font-weight: 400;
        }
      }
      &:nth-child(2) {

        text-align: center;
      }
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        text-align: center;
        color: #fff;
        color: #30394a;

      }
      &:last-child {
        border: none;
        text-align: center;
        color: #fff;

        @include b(mobile) {
          color: #30394a;
          font-weight: 500;
          border-bottom: 1px solid #f3f3f3;
          text-align: center;
        }
      }

      @include b(mobile) {

        &:not(:first-child):not(:last-child) {
          display: none;
          width: 50%;
        }
        &:last-child {
          text-align: right;
        }
      }
    }
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 11px;
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/assets/img/svg/bank1.svg);
  }

  .--icon {
    background-image: url(/assets/img/svg/bank2.svg);
  }

  .--icon_1 {
    background-image: url(/assets/img/svg/bank3.svg);
  }

  &__clarification {
    span {
      display: block;
      font-size: 10px;
      font-weight: 400;
      line-height: 10px;
      margin-bottom: 8px;
    }
  }

  &__pdf {
    a {
      font-size: 18px;
      color: #cc2d78;
      font-weight: 500;
    }
  }
}

.deposit_table {
  padding-bottom: 120px;

  @include b(tablet) {
      padding-bottom: 80px;
  }

  @include b(500) {
    padding: 40px 0;
  }
  .section-title {
      @include b(tablet) {
          font-size: 40px;
          line-height: 1.25;
          margin-bottom: 32px;
      }
  }
  .table__btn {
    display: none;
  }
  .table__table-wrap {
    &:before {
    content:'';
    display: none;
    }
    @include b(mobile) {
      overflow-x: auto;
    }
  }

  table {
    @include b(mobile) {
      overflow-x: auto;
      width: 100%;
    }
    thead {
      @include b(mobile) {
        display: table-header-group;
      }

      @include b(500) {
          tr {
              display: table-row !important;
          }
      }
    }
    td {
      font-weight: 500;
      &:last-child {
        border-bottom: 1px solid #f3f3f3;
        color: inherit;
      }
      &:first-child {
        font-weight: 700;
      }
      @include b(mobile) {

        &:not(:first-child):not(:last-child) {
          display: table-cell;
          min-width: 300px;
        }
        &:last-child {
          text-align: center;
        }
        &:first-child {
          display: table-cell;
          min-width: 265px;
        }
        &:nth-child(2) {
          min-width: 500px;
        }
        &:last-child {
          display: table-cell;
          min-width: 300px;
        }
      }

      @include b(500) {
        &:first-child {
          min-width: 192px;
        }
      }

    }
    th {
      width: auto;
      &:last-child {
        &:before {
          content:'';
          display: none;
        }
      }
      @include b(mobile) {
          font-size: 16px;
          font-weight: 700;
          line-height: 1.25;
      }
    }
  }
  .table__icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 11px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/assets/img/svg/coin.svg);
    svg {
      width: 18px;
      height: 18px;
    }
  }

  .--icon {
    background-image: url(/assets/img/svg/piggybank.svg);
  }

  .--icon_1 {
    background-image: url(/assets/img/svg/coinadd.svg);
  }

  .positive {
    position: relative;
    &:after ,&:before   {
      content:'';
      width: 25px;
      height: 25px;
      border-bottom: 2px solid #000;
      display: block;
      position: absolute;
      transform: rotate(-45deg);
      top: -16px;
      left: 0;
    }

    &:before {
      border-right: 2px solid #000;
      border-bottom: none;
      top: 0;
      left: 0px;
    }
  }

  .not_confirmed {
    position: relative;
    &:after ,&:before   {
      content:'';
      width: 12px;
      height: 24px;
      border-bottom: 2px solid #000;
      display: block;
      position: absolute;
      transform: rotate(45deg);
      top: 0px;
      left: 11px;
    }

    &:before {
      border-right: 2px solid #000;
      border-bottom: none;
      top: 0;
    }
  }

}
