.tabs {

    &.left-image {
        .tekst_kartinka__wrapper {
            flex-direction: row-reverse;
            @include b(mobile) {
                flex-direction: column-reverse;
            }
        }
        .lending_sense__list {
            padding-top: 0;
            @include b(500) {
                display: flex;
            }

        }
    }

    .tabs__heading {
        display: flex;
        justify-content: center;
        @include b(mobile) {
            display: none;
        }
        div {
            font-weight: 700;
            line-height: 22px;
            text-transform: uppercase;
            height: 48px;
            background-color: #F2E7FF;
            padding: 13px 70px;
            margin-bottom: 64px;
            cursor: pointer;
            &:first-child  {
                border-radius: 40px 0 0 40px;
            }
            &:last-child {
                border-radius: 0 40px 40px 0;
                margin-right: 0;
            }
            &.active {
                background-color: #5A308D;
                color: #fff;
            }

            @include b(1430) {
                padding: 13px 20px;
            }

            @include b(tablet) {
                font-size: 16px;
                padding: 15px 15px;
                margin-bottom: 40px;
            }

            @include b(910) {
                font-size: 14px;
            }

            @include b(mobile) {
                padding: 15px 15px;
            }
        }
    }
    .tab__wrapper {
        display: none;
        &.active {
            display: block;
        }
    }
    .tabs__heading-mobile {
        display: none;
        position: relative;
        background-color: #fff;
        padding: 16px 0;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 19px;
        &:after {
            content:'';
            position: absolute;
            right: 0;
            border-left: 2px solid #5A308D;
            border-bottom: 2px solid #5A308D;
            transform: rotate(-45deg);
            width: 10px;
            height: 10px;
            display: inline-block;
        }
        @include b(mobile) {
            display: block;
        }
        &.active {
            background-color: #fff;
            color: inherit;
            &:after {
                content:'';
                border-left:  none;
                transform: rotate(180deg);
            }
        }
    }
    .tabs__item {
        //temporary solution?
        @include b(500) {
            border-top: 1px solid rgba(48, 57, 74, 0.07);
             &:last-child {
            border-bottom: 1px solid rgba(48, 57, 74, 0.07);
            margin-bottom: 40px;
            }
        }

        .container {
            max-width: 1261px;
        }

        .tekst_kartinka__title {
            padding-top: 0;
            @include b(mobile) {
                display: none;
            }
        }

        .lending_sense__item {
            @include b(500) {
                // border-top: 1px solid rgba(48, 57, 74, 0.07);
                height: 100%;
                // padding: 12px 0;
            }
        }



        .tekst_kartinka__wrapper {
            justify-content: center;
            margin-bottom: 0;
            align-items: center;
            display: flex;
        }

        .tekst_kartinka__description {
            width: 66%;
            margin-left: 0;
            @include b(mobile) {
                width: 100%;
            }
        }

        .tekst_kartinka__image {
            max-width: 100%;
            max-height: 100%;
            width: 34%;
            display: flex;
            @include b(mobile) {
                width: 100%;
                justify-content: center;
            }
        }

        .tekst_kartinka__images {
            max-width: 391px;
            max-height: 730px;
        }

        .kartinka_tekst__icon {
            width: 40px;
            height: 40px;
            margin-right: 32px;
            img {
                width: 40px;
                height: 40px;
            }
        }
    }
    .kartinka_tekst__wrapper,.tekst_kartinka__wrapper {
        border-bottom: none;
    }

    &.home_tabs {
        @include b(500) {
            padding-bottom: 80px;
        }
        .kartinka_tekst {
            &__image {
                width: 100%;
            }

            &__description {
                width: 60%;
                margin-left: -220px;
                @include b(tablet) {
                    width: 100%;
                    margin-left: 0;
                }
            }
            &__title {
                font-size: 40px;
                @include b(tablet) {
                    font-size: 36px;
                    line-height: 1.25;
                }
            }
        }
        @include apple_google_store
    }
}

.products_tabs__wrapper {
    .container {
        @include b(mobile) {
            padding: 0;
        }
    }
    padding: 0;
    padding-bottom: 120px; // 182 px
    @include b(tablet) {
        padding-bottom: 17px;
    }
    @include b(500) {
        padding-bottom: 38px;
    }
}

.deposit_slider {
    .container {
        padding: 0;
    }
    @include b(tablet) {
        padding: 0 45px;
    }
    @include b(500) {
        padding: 0 15px;
    }
    h3 {
        @include b(500) {
            font-size: 36px;
            text-align: center;
            line-height: 1.25;
            margin-bottom: 14px;
        }
    }
    .lending_sense__images {
        @include b(tablet) {
            padding-top: 39px;
        }
        @include b(500) {
            padding-top: 24px;
        }
    }
    .tabs {
        @include b(500) {
            padding: 40px 0 0 0;
        }
        &__heading {
            @include b(500) {
                display: none;
            }
        }
        &__item {
            @include b(500) {
                &:last-child {
                    margin-top: 15px;
                    display: block;
                }
                border-top: none;
            }

            &.active {
                display: block;
            }
        }
        &__wrapper  {
            display: block;
        }
        &__heading-mobile {
            display: none;
        }
    }
}
