.info_blok_popup {
  &__item {
    text-align: center;
    padding: 0 23px ;
  }
  &__description {
    font-size: 18px;
    line-height: 21px;
  }

  &__image {
    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

