@import "helpers/mixins";
@import "helpers/vars";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding-top: 78px;
    min-width: 320px;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Gilroy' , sans-serif , Arial;
    font-weight: 400;
    max-width: 100vw;
    overflow-x: hidden;
    color: #30394A;
}

.overflow {
    overflow: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
    color: #111;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }


ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, ul , p {
    margin: 0;
    padding: 0;
}

h3, h2 {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 700;
    color: #30394a;
    margin: 0 0 30px;
    @include b(mobile) {
        font-size: 32px;
        line-height: 1.25;
    }
}

.container {
    width: 100%;
    max-width: 1524px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    @include b(mobile) {
        padding: 0 45px;
    }
    @include b(500) {
        padding: 0 15px;
    }

    &--hero {
        max-width: 1385px;
    }
  }

.--containerLarge {
    max-width: 1477px;
}

.--containerPreview  {
    max-width: 1120px;
    display: flex;
    align-items: center;
    @include b(tablet) {
        padding: 0 45px;
    }
}

.--containerTablet  {
    max-width: 1256px;
}

.--containerFaq {
    max-width: 1464px;
}





  #__next {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
  }


  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 100%;
    height: 51px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Montserrat' , sans-serif , Arial;
    background-color: #466660;
    border-radius: 22px;
    text-align: center;
    padding: 0 27px;
    color: #FFF0DE;
    cursor: pointer;
    @include trs;

    &:hover {
        background-color: #3C4146;
    }

  }

  .--hover__btn {
    &:hover {
        background-color: #1ed013;
    }
  }

input[type=search],
input[type=text]{
    display: block;
    width: 100%;
    height: 39px;
    padding: 10px 22px;
    border: none;
    border: 1px solid #000;
    border-radius: 50px;
    background: none;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 500;
    color: #3C4146;
    transition: all .2s;
    @include b(490) {
        font-size: 12px
    }
    @include b(tablet) {
        font-size: 14px;
     }
    &::placeholder {
        color: #3C4146;
        font-weight: 500;
    }
    &:focus {
        box-shadow: 0 0 3px 1px #68a8e0;
    }

}

input[type=text] {
    border: 1px solid #fff;
    color: #fff;
    &::placeholder {
        color: #fff;
        font-weight: 500;
    }
}

input[type=file]{
    display: block;
    width: 100%;
    height: 50px;
    padding: 12px 24px;
    border: 2px dashed #cccc;
    background: none;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 700;
    color: #fff;
    transition: all .2s;
    &::placeholder {
        color: #FFFFFF;
    }
    &:focus {
        border-color: #282b31;
    }


}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

textarea {
    display: block;
    width: 100%;
    height: 210px;
    resize: none;
    padding: 12px 0;
    border: none;
    border-bottom: 2px solid #cccc;
    background: none;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 400;
    color: #000;
    transition: all .2s;
    @include b(490) {
        font-size: 12px;
    }

    &::placeholder {
        color: #000;
    }
    &:focus {
        border-color: #282b31;
    }
}

select {
    display: block;
    width: 100%;
    height: 50px;
    padding: 12px 0;
    border: none;
    border-bottom: 2px solid #ccc   ;
    background: none;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 400;
    color: #000;
    transition: all .2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    @include b(490) {
        font-size: 12px;
    }
}

.page-title {
    @include container;
    line-height: 1.2;
    font-size: 40px;
    font-weight: 700;
    color: #353535;
    padding: 32px 0px 67px 0px;
}

.layout_twocol_section  {
    max-width: 1300px;
    margin: 0 auto;
    padding: 120px 15px 0 15px;
    display: flex;
    @include b(tablet) {
        padding-top: 0;
    }
    @include b(mobile) {
        padding: 0 29px;
    }
    @include b(500) {
        flex-direction: column;
        padding: 0 15px;
    }
    .region_first {
        width: 48%;
        @include b(mobile) {
            width: 100%;
        }
    }
    .region_second {
        width: 52%;
        @include b(mobile) {
            width: 100%;
        }
    }
}

.popup_viber {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color:rgba(82, 71, 95, 0.35);
  }
  .popup_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .title {
    color: #000;
    display: none;
  }

.layout_onecol {

    &__title {
        @include container;
        max-width: 1022px;
        font-weight: 700;
        font-size: 40px;
        line-height: 1.2;
        margin: 0 auto 20px auto;

        @include b(tablet) {
            margin-bottom: 16px;
            font-size: 24px;
        }
    }

    &__field_data{
        @include container;
        max-width: 1022px;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.55;
        padding-bottom: 24px;
        display: block;
    }

    &__body {
        @include container;
        max-width: 1022px;
        &.full_html {
            padding-bottom: 130px;
            @include b(tablet) {
                padding-bottom: 64px;
                border-bottom: 1px solid #D7D4DC;
            }
            @include b(mobile) {
                padding-bottom: 40px;
            }
        }

        p {
            font-size: 18px;
            color: #6D788E;
            margin-bottom: 15px;
            &:empty {
                margin-bottom: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }

        li {
            list-style: inside;
        }
    }
}

.grecaptcha-badge {
  left: 100vw;
}

@import "helpers/util";
