body {
  background-color: #F2F2F7;
}

.sc_ {
  &wrapper {
    display: block;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    overflow: auto;

    @media screen and (max-width: 375px){
      padding: 16px;
    }
  }

  &header {
    display: flex;
    height: 32px;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;

    @media screen and (max-width: 375px){
      transform: scale(1.25);
    }

    * {
      cursor: pointer;
    }

    a {
      padding-left: 9px;
      margin-left: 9px;
      border-left: 1.2px solid;
      margin-right: auto;
      border-color: #C7C7CC;
    }

    img {
      width: unset;
      margin-left: auto;
    }
  }

  &main {
    padding: 40px 45px;
    max-width: 505px;
    margin-top: 170px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 20px;

    @media screen and (max-width: 375px){
      padding: 20px;
    }

    span {
      color: #212121;
      font-family: 'Gilroy' , sans-serif , Arial;
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      display: block;

      @media screen and (max-width: 375px){
        font-size: 21px;
        line-height: 28px;
      }
    }
  }

  &buttons {
    margin-top: 20px;
    margin-bottom: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 230px;
    @media screen and (max-width: 375px){
      transform: scale(1.25);
    }

    a {
      &:first-child {
        margin-right: 9px;
      }
      &:hover {
        img {
          opacity: .8;
        }
      }
    }

    img {
      cursor: pointer;
      transition: opacity .3s ease-out;
    }
  }

}
